.ac{
    width: 100%;
    height: 100%;
    background: #131318;
    .main-content{
        float:left;
        width:100%;
        height: auto;
        margin-bottom:0.2rem;
        .scene-list{
            float:left;
            width:100%;
            height: auto;
            margin: 0.2rem 0; 
            .ul-title{
                color:#fff;
                font-weight: 300;
                font-size:0.36rem;
                height: 1rem;
                line-height: 1rem;
                width:100%;
                .title-dot{
                    font-size:0.36rem;
                    font-weight: 900;
                }
            }
            .main-con-ul{
                float:left;
                width:100%;
                height: auto;
                opacity: 0.85;
                .main-li{
                    float:left;
                    width:49%;
                    height: 1.08rem;
                    background: #404147;
                    margin-top: 0.15rem;
                    line-height: 1.08rem;
                    color: rgba(255,255,255,0.5);
                    text-align: left;
                    box-sizing: border-box;
                    color:#fff;
                    font-size:0.36rem;
                    .icon-left,.icon-right,.text-middle{
                        float:left;
                        width: 33.3%;
                        height: 1.08rem;
                        line-height: 1rem;
                        font-size:0.36rem;
                        text-align: center;
                        font-weight: 300;
                        .iconfont{
                            font-size:0.52rem;
                        }
                        sup{
                            font-size:0.24rem;
                        }
                        .icon-wind{
                            line-height: 1.08rem;
                            font-size:0.52rem;
                        }
                        .icon-box{
                            width:0.6rem;
                            height: 0.6rem;
                            line-height: 0.64rem;
                            border: 0.02rem solid #fff;
                            border-radius: 0.6rem;
                            margin: 0.22rem auto;  
                            color:#fff;
                            text-align: center;
                            display: flex;
                            align-items: center;
                            justify-content: center;
                            .iconfont{
                                font-size:0.42rem;
                            }
                            .icon-auto1{
                                font-size:0.56rem;
                            } 
                        }
                        .icon-box-active{
                            border: 0.02rem solid rgba(210,172,43,1);
                            background: rgba(210,172,43,1);
                        }
                        .icon-active{
                            color: rgba(210,172,43,1);
                        }
                        .temp-active{
                            background: #D2AC2B;
                            border: 0.02rem solid rgba(210,172,43,1);
                        } 
                    }
                }
                .li-right{
                    margin-right:2%;
                }
                .pointDefault{
                    pointer-events: none;
                }
                .li-active{
                    background: #af9027;
                    color:#fff;
                }
                
            }
            .li-all-active{
                .text-middle{
                    color: #D2AC2B;
                    .iconfont{
                        color: #D2AC2B;
                    }
                } 
                .icon-left{
                    .icon-on{
                        color: #D2AC2B;  
                    }
                }
                .temp-active{
                    color: #D2AC2B;
                    .icon-box{
                        background: #D2AC2B;
                    }

                }
            }
        }
        
    }
}
