.curtain{
    width: 100%;
    height: 100%;
    background: #131318;
    .main-content{
        float:left;
        width:100%;
        height: auto;
        margin-bottom:0.2rem;
        .scene-list{
            float:left;
            width:100%;
            height: auto;
            margin: 0.5rem 0; 
            .ul-title{
                color:#fff;
                font-weight: 300;
                font-size:0.36rem;
                height: 0.6rem;
                line-height:0.6rem;
                width:100%;
                .title-dot{
                    font-size:0.36rem;
                    font-weight: 900;
                }
            }
            .main-con-ul{
                float:left;
                width:100%;
                height: auto;
                .main-li{
                    float:left;
                    width:100%;
                    height: 1.7rem;
                    margin-top: 0.15rem;
                    line-height: 1.08rem;
                    color: rgba(255,255,255,0.5);
                    text-align: left;
                    box-sizing: border-box;
                    .li-text{
                        width:100%;
                        height: 0.5rem;
                        line-height: 0.5rem;
                        font-weight: 300;
                        color:#fff;
                        font-size:0.24rem;
                    }
                    .li-box{
                        float:left;
                        width:100%;
                        height: 1.08rem;
                        background: #404147;
                        .li-list{
                            float:left;
                            width: 25%;
                            height: 1.08rem;
                            line-height: 1.08rem;
                            .icon-left{
                                margin:0.17rem auto;
                                width: 0.7rem;
                                height:0.7rem;
                                line-height: 0.72rem;
                                border: 0.02rem solid #fff;
                                border-radius: 0.5rem;
                                text-align: center;
                                opacity: 0.7;
                                display: flex;
                                align-items: center;
                                justify-content: center;
                            }
                            .icon-active{
                                background: #D2AC2B;
                                border:0.02rem solid #D2AC2B;
                                opacity: 1;
                            }
                        }
                        .list-middle{
                            width:50%;
                        }
                    }
                }
            }
        }
        
    }
}
