.tv{
    width: 100%;
    height: 100%;
    background: rgba(29,28,32,0.9);
    .main-top{
        float:left;
        width:100%;
        height: 1.8rem;
        padding:0;
        .top-list{
            float:left;
            width:33.3%;
            height: 1.8rem;
            .top-list-box{
                margin:0.4rem auto;
                width:1rem;
                height: 1rem;
                opacity: 0.7;
                background: #3F3E44; 
                text-align: center;
                line-height: 1rem;
                border-radius:1rem;
                display: flex;
                align-items: center;
                justify-content: center;
                .iconfont{
                    font-size:0.42rem;
                }
            }
            .voice-active{
                background: #D2AC2B;
                opacity: 1;   
            }
            .swith-all-active{
                background: #D2AC2B;
                opacity: 1;
            }
        }
        .top-middle{
            overflow: hidden;
        } 
        .van-picker{
            background: rgba(0,0,0,0);
            font-size:0.24rem;
        }
        .van-ellipsis{
            padding:0rem;
            font-size:0.24rem; 
            opacity: 0.7;
        }
        .van-picker-column__item--selected{
            color:#D2AC2B;
            opacity: 1;
            font-size:0.26rem; 
        }
    }
    .main-content{
        float:left;
        width:100%;
        height: 3.8rem;
        margin-top: 0.2rem;
        .main-circle{
            margin: auto;
            width:3.5rem;
            height: 3.5rem;
            background: rgba(63,62,68,0.7); 
            border-radius: 100%; 
            position: relative;
            .circle-second{
                float: left;
                margin:0.77rem;
                width:1.92rem;
                height: 1.92rem;
                border-radius: 100%;
                border:0.02rem solid #000;
                background-image: linear-gradient(-179deg, rgba(0,0,0,0.79) 0%, rgba(55,54,60,0.00) 99%);
            }  
            .circle-btn{
                width:0.77rem;
                height: 0.77rem;
                text-align: center;
                line-height: 0.77rem;
                position: absolute;
                z-index: 2;
                opacity: 0.7;
                display: flex;
                align-items: center;
                justify-content: center;
            }
            .cricle-active{
                opacity: 1;
                .iconfont{
                    color:#D2AC2B;
                }
            }
            .top{
                left:1.365rem;
                top:0;
            }
            .left{
                left:0rem;
                top:1.365rem;
            }
            .right{
                right:0;
                top: 1.365rem;
            }
            .bottom{
                bottom:0;
                left:1.365rem;
            }
            
        }
    }
    .main-bottom{
        float:left;
        width:100%;
        height: 4rem;
        margin-top: 0.5rem;
        .bottom-li{
            float:left;
            width:33.3%;
            height: 4rem;
            .li-box{
                margin: auto;
                width:1rem;
                height: 4rem;
                background: rgba(86,86,93,0.7);
                border-radius: 0.4rem;
                color:#fff;
                .box-icon{
                    float:left;
                    width: 1rem;
                    height: 1rem;
                    border-radius: 1rem;
                    line-height: 1rem;
                    text-align: center;
                    font-size:0.42rem;
                    font-weight: 300;
                    opacity: 0.7;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    .iconfont{
                        font-size:0.52rem;
                    }
                }
                .icon-middle{
                    margin: 0.5rem 0;
                    pointer-events: none;
                }
                .icon-active{
                    opacity: 1;
                    .iconfont{
                        color:#D2AC2B;
                    }
                }
            }
          
            .li-middle{
                border-radius: 0;
                background: rgba(0,0,0,0);
                .box-icon{
                    background: #56565D;
                    .iconfont{
                        font-size:0.40rem;
                    }
                } 
                .icon-active{
                    opacity: 1;
                    background:#D2AC2B;
                    .iconfont{
                        color:#fff;
                    }
                }
                .icon-middle{
                    pointer-events: stroke;
                }
            }
        }
    }
    .pointerDefault{
        pointer-events: none;
        .bottom-li{
            .li-box{
                .icon-middle{
                    pointer-events: none;
                }
            }
        }
        
   }
}

