<template>
  <div class="productDetail">
    <div class="ball" id="div"></div>
     <div class="iphoneX-main" id="iphoneX-main-productD">
        <div class="header-tt">
          <ul class="header-ul">
            <li class="header-li-left" @click="jumpProduct">
              <i class="iconfont icon-back1"></i>
            </li>
            <li class="header-li-middle">
              {{productDetailTt}}
            </li>
            <li class="header-li-right">
              <cartPage ref="cartpage"></cartPage>
            </li>
          </ul>
        </div>
        <div class="product-main" id="productDetailMain">
          <div class="product-mianly">
            <div class="proDetail-main-top">
              <img class="proDetail-img" v-lazy="proDeatilImg" :key="proDeatilImg" />
            </div>
            <ul class="proDetail-main-des">
              <li class="des-li des-tt">
                <div class="des-tt-name">{{proDeTitle}}</div>
                <div class="des-tt-price">{{proDePrice}}</div>
              </li>
              <li class="des-li des-num">
                <div class="des-tt-name" id="add-num">
                  <span class="des-tt-span des-tt-num">{{proDeNumTt}}</span>
                  <span class="des-tt-span" @click.stop="numChange('sub');"><i class="iconfont icon-subtract"></i></span>
                  <span class="des-tt-span des-tt-number">{{proDeNum}}</span>
                  <span class="des-tt-span"  @click.stop="numChange('add');"><i class="iconfont icon-add"></i></span>
                </div>
                <div class="des-tt-price">
                  <button type="button" class="des-tt-btn des-tt-btnNone" id="btn-active">{{proDeAddCart}}</button>
                  <button type="button" class="des-tt-btn" id="btn-now" @click="proModelCart(isShowCart,productId,variants)">{{proDeAddCart}}</button>
                </div>
              </li>
              <li class="des-li" v-show="shortDesShow">
                <h4 class="des-li-desTt">{{proDeShortDesTt}}</h4>
                <div class="des-li-p">{{proDeShortDes}}</div>
              </li>
              <li class="des-li" v-show="longDesShow">
                <h4 class="des-li-desTt">{{proDeLongDesTt}}</h4>
                <div class="des-li-p">{{proDeLongDes}}</div>
              </li>
              <li class="des-li des-recommend-box" v-show="recommendShow">
                <h4 class="des-li-desTt">{{proDeRecommended}}</h4>
                <ul class="des-recommend">
                  <li class="des-red-li" v-for="(desReg,index) in desRegs" :key="index" @click="jumpRec(index)">
                    <div class="li-img">
                      <img class="li-images" v-lazy="desReg.img" :key="desReg.img" />
                    </div>
                    <div class="li-tt">
                      <h3 class="li-tt-title">{{desReg.name}}</h3>
                      <h4 class="li-tt-des">{{desReg.des}}</h4>
                    </div>
                  </li>
                </ul>
              </li>
            </ul>
          </div>
        </div>
     </div>
    <div class="proModel" v-show="proModelShow">
      <div class="proModel-content">
        <div class="proModel-tt">
          <div class="title">{{proDeTitle}}</div>
          <div class="close" @click="proModelCancel">×</div>
        </div>
        <ul class="proModel-ul">
          <li class="proModel-li" v-for="(add,index) in adds" :key="index">
            <div class="size-tt">{{add.name}}</div>
            <div class="size-num" v-bind:class="{'choice-active':option.state}" v-for="(option,index1) in add.options" :key="index1" @click="changBtnAdd(add.options,index1)">
              {{option.item}}
            </div>
          </li>
        </ul>
        <div class="proModel-li proModel-footer">
          <div class="price">{{modelPrice}}</div>
          <button type="button" class="conBtn" @click="confirmFood">{{btnConfirm}}</button>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
  import cartPage from "../../../components/cartPage.vue";
  export default {
    name: "productDetail", // 产品详情页
    components: {
      cartPage // 购物车
    },
    data() {
      return {
        productDetailTt: "", // 标题名称
        proDeatilImg: "", // 主图
        proModelShow: false, // 显示购物信息
        proDeTitle: "Filet Steak", //产品名称
        proDePriceNumber: "", // 单价的数值
        moneyImgIcon: "￥", // 货币符号
        proDePrice: "", //价格
        proDeNumTt: "Quantity", // 数量标题
        proDeNum: 1, // 数量
        proDeShortDesTt: "Short Description", // 简介
        proDeShortDes: "", // 简介信息（短描述）
        proDeLongDesTt: "Long Description", // 详情
        proDeLongDes: "", // 详情信息（长描述）
        proDeRecommended: "Recommended With", //推荐
        proDeAddCart: "Add to Cart", // 加入购物车
        isShowCart: true, // 购物车弹框是否弹出
        productId: "", // 产品id
        variants: [], // 产品的配置信息
        modelPrice: "", // 单价
        btnConfirm: "", // model btn
        adds: [], // 产品配置信息
        desRegs: [], // 推荐产品
        productDetailPageId: [], // 导航id
        shortDesShow:false,
        longDesShow:false,
        recommendShow:false,
        languageSetting:"En"
      };
    },
    mounted: function() {
      this.isIPhoneX("iphoneX-main-productD","");   // iphoneX适配问题
      this.productDeatilLoad(); // 加载该页面的信息
    },
    methods: {
      productDeatilLoad: function() {
        let _this = this; // 信息加载
        let proDetailData = localStorage.getItem("proDetailData"); // 设定该商品信息
        let proDetailDataJson = JSON.parse(proDetailData); // 商品信息
        let allImagesIndex = localStorage.getItem("allImages"); //获取图片列表
        let allImagesObj = JSON.parse(allImagesIndex); // json字符串转换成json
        let languageSet = localStorage.getItem("languageSet"); // 语言设置
        let moneyImg = localStorage.getItem("moneyIcon"); // 获取货币符号
        if (!moneyImg) {
          moneyImg = "￥"; // 获取符号不存在时，默认为人民币
        }
        _this.moneyImgIcon = moneyImg; //货币符号
        if (!languageSet) {
          languageSet = "en"; // 语言不存在的时候 默认为为英文
        }
        this.languageSetting = languageSet; // 语言设定
        let pageIdArr = _this.$route.query.pageId; // 获取当前页面上的pageID
        if (pageIdArr) {
          _this.productDetailPageId = pageIdArr; //路由id
        }
        setJsonData(proDetailDataJson); // 设置信息列表
        function setJsonData(proDetailDataJson) {
          if (proDetailDataJson) {
            let productDeTran = proDetailDataJson.translates[languageSet];
            _this.proDeTitle = productDeTran.title; //产品名称
            let shortDesData = productDeTran.description;//该产品的短描述
            if(shortDesData){
              _this.proDeShortDes = shortDesData; //该产品的短描述
              _this.shortDesShow = true;
            }else{
              _this.shortDesShow = false;
            }
            let longDes = productDeTran.additionalMessages; // 获取长描述的json
            if (longDes) {
              _this.proDeLongDes = longDes[0].message; //该产品的长描述
              _this.longDesShow = true;
            }else{
              _this.longDesShow = false;
            }
            let proDePriceNum = proDetailDataJson.defaultPriceInMill / 1000;
            _this.proDePrice = moneyImg + proDePriceNum; //价格
            _this.proDePriceNumber = proDePriceNum; // 产品价格的数值
            if (allImagesObj) {
              let imgId = proDetailDataJson.defaultImage.internalImageId; // 图片的id地址
              if (imgId) {
                _this.proDeatilImg = allImagesObj[imgId].internal_image_url; // top/banner图片设置
              }
            }
            if (languageSet == "en") {
              // 英文状态下
              _this.proDeNumTt = "Quantity"; // 数量标题
              _this.proDeShortDesTt = "Short Description"; // 简介
              _this.proDeLongDesTt = "Long Description"; // 标题描述
              _this.proDeRecommended = "Recommended With"; //推荐
              _this.proDeAddCart = "Add to Cart"; // 加入购物车
              _this.btnConfirm = "Confirm"; // 弹框确认按钮
              _this.productDetailTt = "Details"; // 标题名称
            } else if (languageSet == "zh-cn") {
              // 中文状态下
              _this.proDeNumTt = "数量"; // 数量标题
              _this.proDeLongDesTt = "长描述"; // 标题描述
              _this.proDeShortDesTt = "短描述"; // 简介
              _this.proDeRecommended = "相关推荐"; //推荐
              _this.proDeAddCart = "加入购物车"; // 加入购物车
              _this.btnConfirm = "确认"; // 弹框确认按钮
              _this.productDetailTt = "详情"; // 标题名称
            }
            // 加入购物车
            let productCongig = proDetailDataJson.variantData;
            if (
              productCongig &&
              productCongig.optionGroups &&
              productCongig.optionGroups.length > 0
            ) {
              _this.isShowCart = true; // 购物配置信息弹框弹出
              let productMessageArr =
                proDetailDataJson.translates[languageSet].optionTranslations
                .translations; //数据数组
              let proOptionGroups = productCongig.optionGroups; // 获取该产品的配置信息
              let variantsArr = []; // 添加的数据
              for (let j = 0; j < proOptionGroups.length; j++) {
                let productVarList = proOptionGroups[j];
                let proNameId = productVarList.langAgnosticId; // 种类名称的id
                let proName = productMessageArr[proNameId]; // 商品名称（eg：size）
                if (languageSet == "en") {
                  proName = proName + ":";
                } else {
                  proName = proName + "：";
                }
                let proOptions = productVarList.options; // 商品下分类信息
                let proOptionArr = []; // 分类下的列表
                for (let k = 0; k < proOptions.length; k++) {
                  let proOptionPrice = proOptions[k].priceInMill; // 种类下的类型分类
                  let proOptionListId = proOptions[k].langAgnosticId; // 种类下的类型分类
                  let proOptionListName = productMessageArr[proOptionListId]; // 分类信息(eg:size下的large/small)
                  let proOptionJson = {
                    proId: proOptionListId,
                    item: proOptionListName,
                    state: false,
                    price: proOptionPrice
                  };
                  proOptionArr.push(proOptionJson); // 存入信息
                }
                let productVarListJson = {
                  name: proName, // 商品添加的名称（eg:size）
                  options: proOptionArr //商品名称下的选项（eg:size:large/small）
                };
                variantsArr.push(productVarListJson); // 添加分类的3汇总
              }
              _this.adds = variantsArr;
              _this.setModelDefault(moneyImg, proDePriceNum); // 传入货币符号和添加之前的单价
            } else {
              _this.isShowCart = false; // 购物无相关配置信息，直接加入购物车
              _this.variants = []; // 产品配置信息
            }
            _this.productId = proDetailDataJson.langAgnosticId; // 产品的langAgnosticId信息
            let recommendPageIdArr = proDetailDataJson.relatedMerchandiseIds; // 相关推荐
            if (recommendPageIdArr) {
              let recStr = recommendPageIdArr.join(","); // 解析pageId为字符串
              getRecomArr(recStr); // 调取推荐列表的信息
              _this.recommendShow = true;
            } else {
              _this.recommendShow = false; // 推荐列列表不存在，隐藏
            }
          }
        }
        function getRecomArr(str) {
          _this.axios
            .get(
              "" +
              _this.$root.domainName +
              "/api/junctioncore/v1/page/batch/?page_id=" +
              str +
              "&" +
              _this.$root.junAppName +
              "", {}
            )
            .then(function(sucss) {
              if (sucss.data.ret == "200") {
                let recData = sucss.data.data;
                let recArr = []; // 相关推荐信息
                for (let i = 0; i < recData.length; i++) {
                  let recDataList = recData[i];
                  let recTitle = recData[i].translates[languageSet].title; //产品名称
                  let recImgUrl = "";
                  let recPrice = moneyImg + recData[i].defaultPriceInMill / 1000; //价格
                  if (allImagesObj) {
                    let recImgId = recData[i].defaultImage.internalImageId; // 图片的id地址
                    if (recImgId) {
                      recImgUrl = allImagesObj[recImgId].internal_image_url; // top/banner图片设置
                    }
                  }
                  let json = {
                    img: recImgUrl, // 相关推荐的图片链接地址
                    href: "product",
                    name: recTitle, // 相关推荐的名称
                    des: recPrice, // 相关推荐的价格
                    recDataListJson: JSON.stringify(recDataList) // 当前产品的信息
                  };
                  recArr.push(json); // 推荐列表数据汇总
                }
                _this.desRegs = recArr; //推荐列表页数据渲染
              }
            });
        }
      },
      jumpProduct: function() {
        this.$router.push({
          name: "product",
          query: {
            pageId: this.productDetailPageId
          }
        }); // 返回上一级页面
      },
      jumpRec: function(index) {
        this.$router.push({
          name: "productDetail",
          query: {
            pageId: this.productDetailPageId
          }
        }); // 返回上一级页面
        let proDetailData = this.desRegs[index].recDataListJson; // 该商品的所有信息
        localStorage.setItem("proDetailData", proDetailData); // 设定该商品信息
        this.productDeatilLoad(); // 重新渲染该页面
        let scrollObj = document.getElementById('productDetailMain'); // 滚动区域
        scrollObj.scrollTop = 0; // 推荐切换时，滚动条返回顶部
      },
      numChange: function(type) {
        if (type == "add") {
          this.proDeNum += 1; //数量加   
        } else if (type == "sub") {
          if (this.proDeNum > 1) {
            this.proDeNum -= 1; // 数量减
          }
        }
        this.proDePrice = this.moneyImgIcon + this.proDePriceNumber * this.proDeNum; //价格
      },
      proModelCart: function(isShowCart, productId, variants) {
        let e = event || window.event;
        let scrollX = document.documentElement.scrollLeft || document.body.scrollLeft;
        let scrollY = document.documentElement.scrollTop || document.body.scrollTop;
        let x = e.pageX || e.clientX + scrollX;
        let y = e.pageY || e.clientY + scrollY;
        let addNum = document.getElementById("div");
        let ballNowTop = (y-15);
        addNum.style.top = ballNowTop+"px";
        if( this.languageSetting == "en"){
          addNum.style.left = "2.35rem";
        }
        this.proModelShow = isShowCart; //弹出弹框
        let _this = this;
        if (isShowCart == false) {
          let number = this.proDeNum; // 获取数量
         setTimeout(function(){
           _this.cartAnminate(ballNowTop); // 购物车动画
         },300);
          if (productId) {
            localStorage.setItem("addCartState", "true");
            this.$refs.cartpage.recDetailInfo(
              number,
              productId,
              variants,
            );
          }
        }
      },
      cartAnminate(ballNowTop){
        // 添加到购物车时的动效
        let _this = this;
        let ball = document.getElementById("div");
        let btnDis = document.getElementById("btn-active");
        let btnNow = document.getElementById("btn-now");
        ball.style.opacity = "1";
        ball.style.display = "block";
        ball.style.left = "6.7rem";
        ball.style.top = "0.7rem";
        ball.style.transform = "rotate(420deg)";
        btnNow.style.display = "none";
        btnDis.style.display = "block";
        setTimeout(function(){
            ball.style.display = "none";
            btnDis.style.display = "none";
            btnNow.style.display = "block";
        },350);
        setTimeout(function(){
            ball.style.display = "block";
            ball.style.opacity = "0";
            ball.style.left = "1.8rem";
            if(_this.languageSetting == "en"){
              ball.style.left = "2.35rem";
            }
            ball.style.top = ballNowTop+"px";
            ball.style.transform = "rotate(0deg)";
        },370)
      },
      confirmFood: function() {
        this.proModelShow = false; // 关闭弹框
        this.cartAnminate(); // 购物车动画
        let variantsArr = [];
        for (let i = 0; i < this.adds.length; i++) {
          let optionsArr = this.adds[i].options; //
          for (let j = 0; j < optionsArr.length; j++) {
            if (optionsArr[j].state == true) {
              variantsArr.push(parseFloat(optionsArr[j].proId));
            }
          }
        }
        if (this.productId) {
          localStorage.setItem("addCartState", "true");
          this.$refs.cartpage.recDetailInfo(
            this.proDeNum,
            this.productId,
            variantsArr
          );
        }
      },
      proModelCancel: function() {
        this.proModelShow = false; // 关闭弹框
      },
      setModelDefault: function(moneyImg, proDePriceNum) {
        // 初始化数据信息
        for (let i = 0; i < this.adds.length; i++) {
          let addsList = this.adds[i].options[0]; // 列表的第一个
          addsList.state = true; // 默认第一个为选中状态
          let price = parseFloat(addsList.price) / 1000;
          if (price) {
            proDePriceNum += price; // 单价
          }
        }
        this.modelPrice = moneyImg + proDePriceNum; //价格
      },
      changBtnAdd: function(objs, index1) {
        let optionsLen = objs.length; // 长度
        for (let i = 0; i < optionsLen; i++) {
          objs[i].state = false;
        }
        objs[index1].state = true;
        let priceListNum = this.proDePriceNumber;
        for (let j = 0; j < this.adds.length; j++) {
          let addsListJson = this.adds[j].options; // 获取数组
          for (let k = 0; k < addsListJson.length; k++) {
            if (addsListJson[k].state == true) {
              let priceNum = parseFloat(addsListJson[k].price) / 1000;
              if (priceNum) {
                priceListNum += priceNum; // 价格
              }
            }
          }
        }
        this.modelPrice = this.moneyImgIcon + priceListNum; //价格
      }
    },
    destroyed: function() {
      // 清除整体订单的备注
      localStorage.setItem("wholeResText", "");
    }
  };
</script>

<style src="../css/productDetail.scss" lang="scss" scoped>

</style>

