.adressManage {
    position: relative;
    overflow: hidden;
    width: 100%;
    height: 100%;
    color: #F4F4F4;
    font-weight: lighter;
    .header-tt {
        font-size: 0.36rem;
        position: absolute;
        z-index: 9999;
    }
    .adres-manage-main {
        position: absolute;
        width: 100%;
        height: 100%;
        margin-top: 1.28rem;
        overflow: auto;
        background: #fff;
    }
    .adressManage-main {
        float: left;
        width: 100%;
        height: auto;
        background: #fff;
        border-top: 0.1rem solid rgba(17, 30, 64, 0.4);
        font-size: 0.32rem;
        color: #191814;
        padding-bottom: 0.2rem;
        margin-bottom: 2.5rem;
        .icon-default {
            color: #D2AC2B;
        }
        .icon-edit {
            color: #666;
            font-weight: bold;
        }
        .adress-list {
            float: left;
            width: 7.1rem;
            height: auto;
            overflow: auto;
            margin: 0 0.2rem;
        }
        .adress-list-li {
            float: left;
            width: 100%;
            height: 1.4rem;
            border-bottom: 0.01rem solid #C4C4C4;
            padding: 0.2rem 0;
            font-size: 0.32rem;
            .ul-li-top {
                float: left;
                width: 100%;
                height: 0.5rem;
                line-height: 0.5rem;
                text-align: left;
                .li-list {
                    float: left;
                    width: auto;
                    height: 0.5rem;
                }
                .li-icon {
                    width: 0.8rem;
                }
                .li-name {
                    width: 1.5rem;
                    white-space: nowrap;
                    text-overflow: ellipsis;
                    overflow: hidden;
                    margin-right: 0.2rem;
                }
                .li-adrsss {
                    width: 5.6rem;
                    white-space: nowrap;
                    text-overflow: ellipsis;
                    overflow: hidden;
                    font-size: 0.28rem;
                    color: #8A8A8A;
                }
                .li-edit {
                    float: right;
                    text-align: right;
                    width: 1rem;
                }
                .list-default {
                    float: left;
                    border-radius: 0.04rem;
                    color: #FF0000;
                    margin: 0rem 0 0 0.1rem;
                    font-size: 0.12rem;
                    height: auto;
                    box-sizing: border-box;
                    width: 1.1rem;
                    text-align: center;
                    .iconfont {
                        color: #FF0000;
                    }
                }
            }
        }
    }
}