<template>
<div class="cartEmpty">
  <div class="iphoneX-main" id="iphoneX-main-payFailed">
    <div class="header-tt">
      <ul class="header-ul">
        <li class="header-li-left">
          <router-link to="/index">
            <i class="iconfont icon-back1"></i>
          </router-link>
        </li>
        <li class="header-li-middle">
          {{paymentTitle}}
        </li>
      </ul>
    </div>
    <div class="cart-main">
      <div class="cart-warn payment-state">
        <div class="cart-img">
          <i class="iconfont icon-state2"></i>
        </div>
        <h3 class="cart-warn-tt">{{payFailedText}}</h3>
        <p class="pay-warning">{{payFailedNote}}</p>
        <div class="payment-btn">
          <div class="pay-btnList">
            <button type="button" class="cart-btn pay-no"><router-link to="/index">{{btnConfirmNo}}</router-link></button>
          </div>
          <div class="pay-btnList">
            <button type="button" class="cart-btn"><router-link to="/servicedetail">{{btnConfirmYes}}</router-link></button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div> 
</template>

<script>
export default {
  name: "callFailed",
  data() {
    return {
      paymentTitle: "Hotel Service", // 标题名称
      payFailedText: "", // 付款成功
      payFailedNote: "", // 付款成功提示语
      btnConfirmNo: "No", //
      btnConfirmYes: "Yes" // 按钮确认成功
    };
  },
  mounted: function() {
    this.isIPhoneX("iphoneX-main-payFailed", ""); // iphoneX适配问题
    this.payFailedLoad();
  },
  methods: {
    payFailedLoad: function() {
      let payUrlWay = localStorage.getItem("payUrlWay"); // 获取付款方式
      if (payUrlWay) {
        this.payErro = payUrlWay; // 存储付款方式
      }
      let languageSet = localStorage.getItem("languageSet"); // 语言设置
      if (!languageSet) {
        languageSet = "en";
      }
      if (languageSet == "en") {
        this.payFailedText = "Call service  Failed !"; // 付款成功
        this.payFailedNote = "Would you like to try again?"; // 付款成功提示语
        this.btnConfirm = "Completed"; // 按钮确认成功
        this.paymentTitle = "Hotel Service"; // 标题名称
        this.btnConfirmNo = "No"; //  支付失败，不再支付
        this.btnConfirmYes = "Yes"; // 再次支付
      } else {
        this.payFailedText = "呼叫服务失败！"; // 付款成功
        this.payFailedNote = "你想再试一次吗？"; // 付款成功提示语
        this.btnConfirm = "完成"; // 按钮确认成功
        this.paymentTitle = "酒店服务"; // 标题名称
        this.btnConfirmNo = "否"; //  支付失败，不再支付
        this.btnConfirmYes = "是"; // 再次支付
      }
    }
  }
};
</script>
<style src="../css/cartEmpty.scss" lang="scss" scoped>
</style>



