<template>
<div class="cartEmpty">
  <div class="iphoneX-main" id="iphoneX-main-paySucss">
    <div class="header-tt">
      <ul class="header-ul">
        <li class="header-li-left">
          <router-link to="/index">
            <i class="iconfont icon-back1"></i>
          </router-link>
        </li>
        <li class="header-li-middle">
          {{paymentTitle}}
        </li>
      </ul>
    </div>
    <div class="cart-main">
      <div class="cart-warn payment-state">
        <div class="cart-img">
          <i class="iconfont icon-state1"></i>
        </div>
        <h3 class="cart-warn-tt">{{paySuccessText}}</h3>
        <p class="pay-warning">{{paySuccssNote}}</p>
        <button type="button" class="cart-btn"><router-link to="/orderListQuery">{{btnConfirm}}</router-link></button>
      </div>
    </div>
  </div>
</div>  
</template>

<script>
  export default {
    name: "paySucss",
    data() {
      return {
        paymentTitle: "Payment", // 标题名称
        paySuccessText: "", // 付款成功
        paySuccssNote: "", // 付款成功提示语
        btnConfirm: "Completed" // 按钮确认成功
      };
    },
    mounted: function() {
      this.isIPhoneX("iphoneX-main-paySucss","");   // iphoneX适配问题
      this.paySucssLoad();
    },
    methods: {
      paySucssLoad: function() {
        localStorage.setItem("cartListJosn", null); // 把选中的商品列表清空
        let languageSet = localStorage.getItem("languageSet"); // 语言设置
        if (!languageSet) {
          languageSet = "en";
        }
        if (languageSet == "en") {
          this.paySuccessText = "Congrats, Place Order done!"; // 付款成功
          this.paySuccssNote =
            "Our staff will confirm and arrange the delivery soon."; // 付款成功提示语
          this.btnConfirm = "Completed"; // 按钮确认成功
          this.paymentTitle = "Payment"; // 标题名称
        } else {
          this.paySuccessText = "恭喜您，下单成功！"; // 付款成功
          this.paySuccssNote = "我们的员工会很快确认和安排递送，请稍等。"; // 付款成功提示语
          this.btnConfirm = "完成"; // 按钮确认成功
          this.paymentTitle = "付款"; // 标题名称
        }
      }
    }
  };
</script>
<style src="../css/cartEmpty.scss" lang="scss" scoped>

</style>



