.welcome{
  width:100%;
  height: 100%;
}
.welcome-title{
  float:left;
  color:#e5bd36;
  width:100%;
  height: 2.5rem;
  margin-top: 2.54rem;
  text-align: center;
}
.welcome-title img{
  margin: auto;
  width: auto;
  height: 2.5rem;
}
.welcome-note{
  float:left;
  width: 98%;
  height: auto;
  margin: 0.72rem 1% 0 1%;
  min-height: 1rem;
}
.welcome-note-tt{
  float:left;
  width:100%;
  height: 0.7rem;
  font-family: SFUIDisplay-Light;
  font-size: 0.34rem;
  color: #F4F4F4;
  letter-spacing: -0.001rem;
  line-height: 0.7rem;
  text-align: center;
  font-weight: 500;
}
.welcome-note-p{
  float:left;
  width:100%;
  font-family: SFUIDisplay-Light;
  font-size: 0.32rem;
  color: #F4F4F4;
  letter-spacing: -0.001rem;
  line-height: 0.45rem;
  text-align: center;
  font-weight: lighter;
  text-indent: 0.25rem;
  min-height: 0.5rem;
}
.signature-box{
  margin: auto;
  margin-top: 0.4rem;
  width: 100%;
  height: 0.8rem;
  line-height: 0.8rem;
  color:#ccd7da;
}
.signature-tt{
  font-family: SFUIDisplay-Light;
  font-size:0.32rem;
  color: #F4F4F4;
  font-weight: lighter;
  float:left;
  width:40%;
  text-align: right;
  margin-left: 10%;
}
.signature-name{
  float:left;
  font-family: SnellRoundhand;
  color: #F4F4F4;
  letter-spacing: -0.0033rem;
  font-weight: lighter; 
  width: 40%;
  height: 0.8rem;
  margin: 0 0 0 0.2rem;
  margin: 0 0 0 0.2rem;
  vertical-align: middle; 
}
.signature-name img{
  float:left;
  width: auto;
   height: 0.8rem;
  vertical-align: middle; 
}
.welcome-btn-box{
  float:left;
  margin-top: 0.8rem;
  width: 100%;
  height: auto;
}
.welcome-btn-language{
  width:6.5rem;
  margin: 1.5rem 0.5rem 0 0.5rem;
  .languageBtn{
    // float:left;
    width:84%;
    height: 0.8rem;
    background: rgba(255,255,255,0.6);
    color:#000;
    margin: 0 4%;
    border-radius: 0.1rem;
    border:0;
    font-size:0.32rem;
  }
  .languageBtnActive{
    background:#D2AC2B;
    color:#fff;
  }
}
.welcome-button{
  margin-top:1.3rem;
  margin: auto;
  width: 5.4rem;
  height: 0.8rem;
  border:0;
  background: #D2AC2B;
  border-radius: 0.08rem;
 
}
.welcome-button a{
  font-family: SFUIDisplay-Light;
  display: block;
  color: #F4F4F4;
  font-size: 0.36rem;
}