<template>
  <div class="CartPage">
    <van-tabbar>
      <van-tabbar-item :to="jumpCart" icon="cart" class="cartInfo" :info="infoNumCart"></van-tabbar-item>
    </van-tabbar>
  </div>
</template>
<script>
  export default {
    name: "cartPage",
    data() {
      return {
        infoNumCart: "", // 购物车里面的数量
        jumpCart: "/cartShopping" // 购物车跳转的页面
      };
    },
    mounted: function() {
      $(".CartPage .van-icon__info").css("display", "none"); // 购物车无数据
      this.cartText();
      this.cartPageLoad(); // 购物车模块信息加载
    },
    methods: {
      cartText: function() {
        if (this.infoNumCart == "0" || this.infoNumCart == "") {
          $(".CartPage .van-icon__info").css("display", "none"); // 购物车无数据
          this.jumpCart = "/cartEmpty";
        } else {
          $(".CartPage .van-icon__info").css("display", "block"); // 购物车有数据
          this.jumpCart = "/cartShopping";
        }
      },
      recDetailInfo: function(num, proId, variants) {
        // 新加商品到购物车，购物车的显示信息
        let _this = this;
        _this.axios
          .post(
            "" +
            _this.$root.domainName +
            "/api/junctioncore/v1/cart/?" +
            _this.$root.junAppName +
            "", {
              lang_agnostic_id: proId, // 产品编号名称
              selected: 1, // 默认是选中状态
              variants: variants, // 产品配料，eg:size等
              note: "", // 备注信息
              quantity: num // 产品数量
            }
          )
          .then(function(sucss) {
            if (sucss.data.ret == "200") {
              console.log("document.cookieCartPage", document.cookie);
              _this.cartPageLoad(); // 调取购物车数量接口
              //_this.$toast(_this.addCartSucss); // 添加商品成功
              localStorage.setItem("addCartState", "false");
              console.log("添加商品成功");
            }
          });
      },
      cartPageLoad: function() {
        // 调取购物车数量的接口，购物车商品数量获取接口
        let languageSet = localStorage.getItem("languageSet"); // 语言设置
        if (!languageSet) {
          languageSet = "en"; // 语言不存在的时候 默认为为英文
        }
        if (languageSet == "en") {
          this.addCartSucss = "Add goods to success!"; // 添加商品
          this.addCartBtn = "Confirm"; // 确认按钮
        } else {
          this.addCartSucss = "添加商品成功！"; // 添加商品
          this.addCartBtn = "确认"; // 确认按钮
        }
        // 调取购物车数量的接口，购物车商品数量获取接口
        let _this = this;
        _this.axios
          .get(
            "" +
            _this.$root.domainName +
            "/api/junctioncore/v1/cart/size/?" +
            _this.$root.junAppName +
            ""
          )
          .then(
            function(sucss) {
              if (sucss.data.ret == "200") {
                let dataAllNum = sucss.data.data; // 购物车信息
                _this.infoNumCart = dataAllNum; // 购物车数量赋值
                _this.cartText(); // 显示或者隐藏购物车内的数量
              }
            },
            function(err) {
              _this.infoNumCart = ""; // 购物车数量赋值
              _this.cartText(); // 显示或者隐藏购物车内的数量
            }
          );
      }
    }
  };
</script>


<style>
  .CartPage {
    width: 100%;
    height: 100%;
  }
  .CartPage .van-tabbar--fixed {
    position: static;
  }
  .CartPage .van-tabbar {
    background: rgba(0, 0, 0, 0);
  }
</style>
