.productDetail {
    position: relative;
    overflow: hidden;
    width: 100%;
    height: 100%;
    color: #F4F4F4;
    font-weight: lighter;
    .header-tt {
        color: #fff;
        font-size: 0.36rem;
        position: absolute;
        z-index: 9999;
    }
    .product-main {
        float: left;
        width: 100%;
        height: 100%;
        margin-top: 1.28rem;
        box-sizing: border-box;
        overflow: auto;
    }
    .product-mianly {
        float: left;
        width: 100%;
        height: auto;
        box-sizing: border-box;
        margin-bottom: 1.28rem;
        overflow: auto;
    }
    .proDetail-main {
        float: left;
        width: 100%;
        height: 5rem;
        margin: 0 0 0.5rem 0;
        background: green;
    }
    .proDetail-main-top {
        float: left;
        width: 7.5rem;
        height: 5.625rem;
        overflow: hidden;
    }
    .proDetail-img {
        width: 100%;
        height: 100%;
    }
    .proDetail-main-des {
        float: left;
        width: 6.82rem;
        height: auto;
        margin: 0 0.34rem 0.3rem 0.34rem;
        .des-li {
            float: left;
            width: 100%;
            height: auto;
            border-top: 0.001rem solid rgba(110, 110, 110, 1);
            overflow: hidden;
        }
        .des-tt {
            height: 1.2rem;
            line-height: 1.2rem;
            border-top: 0;
        }
        .des-num {
            height: 1.2rem;
            line-height: 1.2rem;
        }
        .des-tt-name {
            float: left;
            width: auto;
            height: 1.2rem;
            font-size: 0.40rem;
        }
        .des-tt-price {
            float: right;
            width: 1.8rem;
            font-size: 0.48rem;
            color: #D2AC2B;
            letter-spacing: 0.47px;
            font-weight: normal;
            height: 1.2rem;
        }
        .des-tt-btn {
            width: 1.8rem;
            height: 0.6rem;
            line-height: 0.6rem;
            background: #D2AC2B;
            border-radius: 0.08rem;
            color: #f4f4f4;
            font-size: 0.28rem;
            border: 0;
            font-weight: lighter;
            margin-top: 0.3rem;
        }
        .des-tt-btnNone {
            display: none;
        }
        .des-tt-span {
            padding: 0 0.05rem;
            font-size: 0.32rem;
            .iconfont {
                font-size: 0.44rem;
                color: #D2AC2B;
            }
            .des-tt-number {
                font-size: 0.36rem;
            }
        }
        .des-li-desTt {
            text-align: left;
            font-weight: lighter;
            line-height: 0.6rem;
            font-size: 0.32rem;
            padding: 0.1rem 0;
        }
        .des-li-desTt::after {
            content: " : "
        }
        .des-li-p {
            text-align: left;
            line-height: 0.4rem;
            font-size: 0.32rem;
            padding-bottom: 0.2rem;
            word-break: break-all
        }
        .des-recommend {
            float: left;
            width: 6.93rem;
            height: 2.68rem;
        }
        .des-red-li {
            float: left;
            width: 2.2rem;
            height: 2.68rem;
            margin-right: 0.11rem;
            background: rgba(12, 34, 29, 0.5);
            .li-img {
                float: left;
                width: 2.2rem;
                height: 1.65rem;
                overflow: hidden;
            }
            .li-images {
                width: 100%;
                height: 100%;
            }
            .li-tt {
                float: left;
                width: 2.2rem;
                height: 0.85rem;
                text-align: left;
                line-height: 0.4rem;
                .li-tt-title,
                .li-tt-des {
                    font-weight: lighter;
                    font-size: 0.28rem;
                    color: #F4F4F4;
                    padding: 0 0.05rem;
                    overflow: hidden;
                    text-overflow: ellipsis;
                    white-space: nowrap;
                }
            }
        }
    }
    .proModel{
        position:absolute; 
        z-index:999999;
        width:100%; 
        height:100%; 
        background:rgba(0,0,0,0.5);
        animation: fade-in 4s;
        .proModel-content{
            width:6.8rem; 
            height:auto; 
            background: #FCFCFC; 
            left:50%; 
            top:50%; 
            position:absolute; 
            margin-left:-3.4rem;
            margin-top:-3.5rem; 
            border-radius:0.24rem;
            max-height: 7rem;
            overflow: hidden;
            }
        .proModel-tt{
            float:left;
            width:100%;
            height: 1rem;
            line-height: 1rem;
            font-size:0.40rem;
            border-bottom: 0.01rem solid #D3D3D3;
            color: #191814;
            .title{
                float:left;
                width:auto;
                max-width:5rem;
                height: 1rem;
                line-height: 1rem;;
                text-align: left;
                padding-left:0.3rem;
                font-weight: normal;
                white-space: nowrap;
                text-overflow: ellipsis;
                overflow: hidden;
            }
            .close{
            float:right;
            width:1rem;
            height: 1rem;
            line-height: 1rem;;
            text-align: center;
                font-size: 0.6rem;
                cursor: pointer;
            }
        }
        .proModel-ul{
            float:left;
            width:100%;
            height: auto;
            max-height: 5rem;
            overflow: hidden;
            overflow-y: scroll;
        }
        .proModel-ul::-webkit-scrollbar-track-piece {
            background-color: rgba(0, 0, 0, 0);
            border-left: 1px solid rgba(0, 0, 0, 0);
        }
        .proModel-ul::-webkit-scrollbar {
            width: 3px;
            height: 13px;
            -webkit-border-radius: 5px;
            -moz-border-radius: 5px;
            border-radius: 5px;
        }
        .proModel-ul::-webkit-scrollbar-thumb {
            background-color: #D2AC2B;
            background-clip: padding-box;
            -webkit-border-radius: 5px;
            -moz-border-radius: 5px;
            border-radius: 5px;
            min-height: 28px;
        }
        .proModel-ul::-webkit-scrollbar-thumb:hover {
            background-color: rgba(0, 0, 0, 0.5);
            -webkit-border-radius: 5px;
            -moz-border-radius: 5px;
            border-radius: 5px;
        }
        .proModel-li{
            float:left;
            width: 93%;
            height: auto;
            padding:0 3.5%;
            margin: 0.1rem 0;
            box-sizing: border-box;
            line-height: 0.6rem;
            color:  #848484;
            .size-tt{
                float:left;
                width: 100%;
                height: 0.5rem;
                padding-right:0.2rem;
                margin-right: 0.2rem;
                text-align: left;
            }
            .size-num{
                float:left;
                width:auto;
                border-radius: 0.06rem;
                background: rgba(132,132,132,0.30);
                text-align: center;
                margin: 0.1rem 0.1rem 0.1rem 0;
                line-height: 0.52rem;
                color: #848484;
                padding:0 0.2rem;
                text-align: left;
            }
        .cook-tt{
            float:left;
            width:1.2rem;
            height: 1.6rem;
        }
        .cook-box{
            float:left;
            width:5rem;
            height: 1.6rem;
        }
        .cook-li{
            float:left;
            width:auto;
            height: 0.52rem;
            margin: 0.14rem 0.2rem;
            padding:0 0.25rem;
            background: rgba(132,132,132,0.30);
            border-radius: 0.06rem;
            line-height: 0.52rem;
        }
        .choice-active{
        background: rgba(210,172,43,0.30);
        color:rgba(210,172,43,1);
        }  
    }
        .proModel-footer{
            float:left;
            height: 1rem;
            width: 100%;
            border-top: 0.01rem solid #D3D3D3;
            .price{
                float:left;
                line-height: 1rem;
                font-size: 0.48rem;
                color: #D2AC2B;
                font-weight: normal;
            }
            .conBtn{
                float:right;
                width:2.1rem;
                height: 0.7rem;
                background: #D2AC2B;
                border-radius: 0.08rem;
                text-align: center;
                line-height: 0.7rem;
                border:0;
                color:#f4f4f4;
                margin: 0.1rem 0 0 0;
                font-size:0.32rem;
        
            }
        }
    }
    .ball {
        position: absolute;
        left: 1.8rem;
        top: 8.5rem;
        width: 0.35rem;
        height: 0.35rem;
        transition: left ease-in-out 0.3s, top 0.3s, transform 0.3s;
        border-radius: 0.35rem;
        z-index: 2;
        transform: rotate(0deg);
        background: #D2AC2B;
        display: block;
        opacity: 0;
    }
}