<template>
<div class="findPW">
  <div class="index-main-opacity">
  <div class="iphoneX-main" id="iphoneX-main-findPW">
    <div class="register-prompt">
      <van-popup v-model="isShowFind" class="register-prompt-alert" position="top" :overlay="false">{{propmtTitleFind}}</van-popup>
    </div>
    <div class="register-header">
      <ul class="register-nav">
        <li class="register-left" @click="jumpBack">
          <router-link to="">
            <i class="register-icon iconfont icon-back"></i>
          </router-link>
        </li>
        <li class="register-mid">
          <h1 class="header-tt">{{headerTtFind}}</h1>
        </li>
      </ul>
    </div>
    <div class="findPW-instruction">{{instructionFind}}</div>
    <div class="register-inputs">
      <ul class="input-ul">
        <li class="input-li">
          <span><input type="text" class="input-text input-country" :placeholder="countryCode" @focus="getChoiceCode" @blur="comChoiceCode" @input="filterCode"  v-model="counCodeNumReg" /></span>
          <span><input  type="number" class="input-text input-mobile"   v-model="mobileNumFind"  :placeholder="mobileNumberPla" v-on:input="onChangeInput" @blur="phoneNumReg" /></span>
        </li>
        <li class="input-li">
          <span><input class="input-text input-code"  type="text" v-model="verCodeFind"  @blur="codeCheckFind" :placeholder="verificationCodePla" v-on:input="onChangeInput"/></span>
          <span @click="getCodeFind"><input class="input-text input-times"  type="text" v-model="timesFind" readonly /></span>
        </li>
        <li class="input-li">
          <input class="input-text" :type="eyePwReset?'text':'password'" :placeholder="passwordPla" v-model="pwValReset" @blur="pwReset" v-on:input="onChangeInput" />
          <div class="input-icon" @click="eyePwReset=!eyePwReset">
            <i class="iconfont" v-bind:class="{'icon-viewOpen':eyePwReset, 'icon-viewClose': !eyePwReset}"></i>
          </div>
        </li>
        <li class="input-li">
          <input class="input-text" :type="eyePwConReset?'text':'password'" :placeholder="confirmPasswordPla" v-model="pwValConReset" @blur="pwConReset" v-on:input="onChangeInput" />
          <div class="input-icon" @click="eyePwConReset =!eyePwConReset">
            <i class="iconfont" v-bind:class="{'icon-viewOpen': eyePwConReset, 'icon-viewClose': !eyePwConReset}"></i>
          </div>
        </li>
        <transition name="fade">
            <ul class="country-code" v-show="codeShow">
              <li class="code-li" v-for="(langOption,index) in langOptions" :key="index" @click="choiceCode(index)">{{langOption.text}}</li>
          </ul>
        </transition>
      </ul>
    </div>
    <div class="register-btn-box" @click="judgeFind">
      <button class="register-button" type="warning" :style="buttonFind"><router-link to="">{{btnTextFind}}</router-link></button>
    </div>
  </div>
  </div>
</div>  
</template>
<script>
  export default {
    name: "findPW",
    data() {
      return {
        headerTtFind: "Find Password", // 标题名
        instructionFind: 'Please press "Get Code" to receive a SMS with Verification Code.', //
        mobileNumFind: "", // 电话号码
        timesFind: "Get code", // 时间
        verCodeFind: "", // 验证码
        propmtTitleFind: "error", // 弹框提示
        isShowFind: false, // 是否显示
        isTruePhone: false,
        btnTextFind: "Continue", // 注册按钮
        pwValReset: "", // 密码
        pwValConReset: "", //密码确认
        btnTextReset: "Confirm", // 注册按钮
        eyePwReset: false, // 密码隐藏
        eyePwConReset: false, // 确认密码隐藏
        buttonFind: {
          background: "rgba(202,202,202,0.90)"
        },
        languageChange: "", // 语言设置
        pwWarnSet: "", // 密码组合
        inforWrongSet: "", // 信息确认
        registerNumSet: "", // 手机号未注册
        mobileNumberPla: "", // 手机号
        mobileWarn: "", // 手机号错误提示
        verificationCodePla: "", // 验证码
        passwordPla: "", // 密码
        confirmPasswordPla: "", // 确认密码
        twoPwCon: "", // 两次密码的验证
        getCodeNum: "", // 获取验证码
        codeSent: "",
        counCodeNumReg: "86", // 国家代码
        countryCode: "", //
        counCodeWrong: "", // 国家代码有误
        isTrueCodeNum: false, // 国家代码的正误
        mobileCodeWarn: "",
        verState:false,
        initOptions:[], // 初始化国家代码
        langOptions:[], // 显示国家代码
        filterOptions:[], // 筛选选项
        codeShow:false,// 不显示国家代码下拉框
        phoneWrongSet:"",  // 手机号有误
        headerResetPw:"" // 重置密码
      };
    },
    mounted: function() {
      this.isIPhoneX("iphoneX-main-findPW","");   // iphoneX适配问题
      this.findPWLoad();
    },
    methods: {
      findPWLoad: function() {
        let languageSet = localStorage.getItem("languageSet");
        if (!languageSet) {
          languageSet = "en";
        }
        this.languageChange = languageSet; // 语言赋值
        if (languageSet == "en") {
          this.pwWarnSet = "Please enter 6~20 digit or alphabet.";
          this.inforWrongSet = "The information is incorrect, please check!"; // 信息有误，请检查
          this.registerNumSet =
            "The phone number is not registered, please register first!";
          // palcehoder
          this.mobileNumberPla = "Mobile number"; // 手机号
          this.mobileWarn = "Mobile number is wrong.";
          this.verificationCodePla = "Verification Code"; // 验证码
          this.passwordPla = "Password"; // 密码
          this.confirmPasswordPla = "confirm Password"; // 确认密码
          this.twoPwCon = "Two inconsistencies in cipher input, please check!"; //
          this.codeWarn = "Verification code is wrong.";
          this.getCodeNum = "Get Code";
          this.codeSent = "The Verification Code in SMS has been sent out."; // 验证码已发送
          this.headerTtFind = "Find Password"; // 标题名
          this.headerResetPw = "Reset Password"; // 重置密码
          this.instructionFind =
            'Please press "Get Code" to receive a SMS with Verification Code.'; //
          this.countryCode = "country code"; // 国家代码
          this.counCodeWrong = "Please enter the number of 2-3 country code!"; // 国家代码有误
          this.mobileCodeWarn = "Mobile number or country code is wrong!"; //手机号或者国家代码有误
          this.btnTextFind =  "Continue"; // 注册按钮
          this.initOptions = this.$store.state.optionsEn;  // 获取国家代码的英文
          this.phoneWrongSet = "The phone number is wrong!";
        } else {
          this.pwWarnSet = "请输入6~20位数字或字母！";
          this.inforWrongSet = "信息有误，请检查！";
          this.registerNumSet = "该手机号未注册,请先注册!";
          // palcehoder
          this.mobileNumberPla = "请输入手机号"; // 手机号
          this.verificationCodePla = "请输入验证码"; // 验证码
          this.passwordPla = "请输入密码"; // 密码
          this.confirmPasswordPla = "请再次输入密码"; // 确认密码
          this.twoPwCon = "两次密码输入不一致，请检查！"; //
          this.mobileWarn = "手机号有误";
          this.codeWarn = "验证码有误";
          this.getCodeNum = "获取验证码";
          this.codeSent = "验证码已发送"; // 验证码已经发送
          this.headerTtFind = "找回密码"; // 标题名
          this.headerResetPw = "重置密码"; // 重置密码
          this.instructionFind = '请按"获取验证码"接收带有验证码的SMS。'; //
          this.countryCode = "国家代码"; // 国家代码
          this.counCodeWrong = "请输入2-3位国家代码的数字！"; // 国家代码有误
          this.mobileCodeWarn = "手机号或者国家代码有误！";
          this.btnTextFind =  "下一步"; // 注册按钮
          this.initOptions = this.$store.state.optionsCh; // 获取国家代码的中文
          this.phoneWrongSet = "手机号有误！";
        }
        this.timesFind = this.getCodeNum; // 获取验证码初始化
        this.changeLanguage(); // 赋值国家代码
        let findPwBack = localStorage.getItem("findPwBack"); // 设定找回密码返回地址
        if (findPwBack && findPwBack == "setting") {
          this.headerTtFind = this.headerResetPw; // 重置密码
        }
      },
      codeCheckFind: function() {
        // 验证码验证
        if (this.verCodeFind.length != 6) {
          this.isShowFind = true;
          this.verState = true; // 信息有误
          this.propmtTitleFind = this.codeWarn; // 验证码有误
          this.alertWarnClose(); // 关闭提示框
        } else {
          this.isShowFind = false;
          this.verState = false; // 无信息错误
        }
      },
      judgeFind: function() {
        // 跳转页面
        this.pwReset();
        this.pwConReset();
        this.codeCheckFind();
        let _this = this;
        this.onChangeInput();
        // 手机号验证码密码都存在的情况下
        let codeNum = "+" + this.counCodeNumReg + "-"; // 国家代码
        let codeNumber = "%2B" + this.counCodeNumReg + "-"; // 国家代码转码
        let phoneNum = codeNum + _this.mobileNumFind; // 手机号
        let phoneNumber = codeNumber + _this.mobileNumFind; // 转码
        if (
          this.counCodeNumReg &&
          this.mobileNumFind &&
          this.verCodeFind &&
          this.pwValReset &&
          this.pwValConReset &&
          this.verState == false
        ) {
          checkPhoneNumber(); // 验证手机号
        } else {
          this.isShowFind = true;
          this.propmtTitleFind = this.inforWrongSet; // 信息有误
          this.alertWarnClose(); // 关闭提示框
        }

          // 验证手机号
          function checkPhoneNumber() {
            _this.axios
              .get(
                //登录接口
                "" +
                _this.$root.domainName +
                "/api/junctioncore/v1/customer/get_profile/?" +
                _this.$root.junAppQuery +
                _this.$root.junAppName +
                "&phone=" +
                phoneNumber +
                ""
              )
              .then(
                function(sucss) {
                  if (sucss.data.ret == "200") {
                    if (_this.pwValReset != _this.pwValConReset) {
                      _this.pwConReset(); // 验证两次密码
                    } else {
                      checkFindPw();
                    }
                  }
                },
                function(err) {
                  if (err.response.data.ret == "404") {
                    _this.isShowFind = true;
                    _this.propmtTitleFind = _this.registerNumSet;
                    _this.alertWarnClose(); // 关闭提示框
                  }
                }
              );
          }
          // 验证验证码手机号和密码
          function checkFindPw() {
            _this.axios
              .post(
                //登录接口
                "" +
                _this.$root.domainName +
                "/api/junctioncore/v1/customer/reset_password/?" +
                _this.$root.junAppQuery +
                _this.$root.junAppName +
                "", {
                  phone: phoneNum, // 手机号
                  password: _this.pwValReset, // 密码
                  security_code: _this.verCodeFind // 验证码
                }
              )
              .then(
                function(sucss) {
                  if (sucss.data.ret == "200") {
                    console.log("document.cookieFindPw1", document.cookie);
                     let findPwBack = localStorage.getItem("findPwBack"); // 设定找回密码返回地址
                     if (findPwBack && findPwBack == "setting") {
                         _this.$router.push({
                          path: "/setting"
                        });
                      }else{
                         _this.$router.push({
                          path: "/signIn"
                        });
                      }
                  }
                },
                function(err) {
                  _this.isShowFind = true;
                  _this.propmtTitleFind = _this.inforWrongSet; // 信息有误; // 信息有误
                  _this.alertWarnClose(); // 关闭提示框
                }
              );
          }
      },
      phoneNumReg: function(){
        // 手机号验证
        let countryCode = "+"+this.counCodeNumReg+"-";  // 国家代码
        let comPhoneNumber = countryCode + this.mobileNumFind; // 国际代码+手机号
        let phoneNumberCode = this.$store.state.phoneNumReg;  // 手机号验证规则
        let tenCountryCode = this.$store.state.tenPhoneNum;  // 10个国家的号码
        let tenArr = [];
        let arr = []; 
        for(let m=0; m<tenCountryCode.length; m++){
          let tenCodeList = tenCountryCode[m].value;
          tenArr.push(tenCodeList);
        }
        if(tenArr.indexOf(this.counCodeNumReg) != "-1"){
          // 没有匹配的数据
          for(let i =0; i<phoneNumberCode.length; i++){
            let regList = phoneNumberCode[i].reg; // 验证规则
            let regNumVeg = new RegExp(regList);  // 验证正误
            if(!regNumVeg.test(comPhoneNumber)) {
              arr.push("false");  // 不匹配
            }else{
              arr.push("true"); // 匹配
            } 
          }
        if(arr.indexOf("true") == "-1"){
          // 没有匹配的数据
          this.verState = true;  // 手机号有误
          this.isShowFind = true; // 显示提示框
          this.propmtTitleFind = this.phoneWrongSet; // 弹框提示：信息有误，请确认
          this.alertWarnClose(); // 关闭提示框
        }else{
          this.isShowFind = false; // 手机号存在
          this.verState = false;  // 手机号无误
        }
       }else{
        this.isShowFind = false; // 手机号存在
        this.verState = false;  // 手机号无误
       }
      },
      getCodeFind: function() {
        // 获取验证码
        let codeNum = "+" + this.counCodeNumReg + "-"; // 国家代码
        let _this = this;
        if (this.timesFind == this.getCodeNum) {
          if (this.counCodeNumReg && this.mobileNumFind &&  this.verState == false) {
            this.axios
              .post(
                // 验证码获取
                "" +
                _this.$root.domainName +
                "/api/junctioncore/v1/customer/security_code/?code_type=reset_customer_password&" +
                _this.$root.junAppQuery +
                _this.$root.junAppName +
                "", {
                  phone: codeNum + _this.mobileNumFind,
                  lang: _this.languageChange
                }
              )
              .then(
                function(sucss) {
                  if (sucss.data.ret == "200") {
                    console.log("document.cookieFindPw2", document.cookie);
                    _this.verCodeRegState = true; // 验证码已经发送
                    _this.alertWarnClose();
                  }
                },
                function(error) {
                  _this.verCodeRegState = false; // 验证码未发送
                }
              );
            let time = 60;
            let regTimer = setInterval(function() {
              time--;
              _this.timesFind = time + "s";
              if (time == 59) {
                _this.isShowFind = true;
                _this.propmtTitleFind = _this.codeSent; // 验证码已发送
              }
              if (time == 0) {
                _this.timesFind = _this.getCodeNum; //获取验证码
                clearInterval(regTimer);
                _this.isShowFind = false; // 关闭弹框
              }
            }, 1000);
          } else {
            this.isShowFind = true;
            this.propmtTitleFind = this.mobileCodeWarn; // 手机号有误
            this.alertWarnClose(); // 关闭提示框
          }
        }
      },
      pwReset: function() {
        // 密码格式验证(6-20位数字字母组合)
        let regNum = new RegExp(/^[\w]{6,20}$/); //6-20位数字或者字母
        if (!regNum.test(this.pwValReset)) {
          this.isShowFind = true;
          this.verState = true; // 信息有误
          this.propmtTitleFind = this.pwWarnSet; // 密码提示
          this.alertWarnClose(); // 关闭提示框
        } else {
          if (!this.pwValConReset) {
            this.isShowFind = false;
            this.verState = false; // 无信息错误
          } else {
            if (this.pwValReset != this.pwValConReset) {
              // 两次输入的密码判断
              this.isShowFind = true;
              this.verState = true; // 信息有误
              this.propmtTitleFind = this.twoPwCon; // 两次密码不一致
              this.alertWarnClose();
            }
          }
        }
      },
      onChangeInput: function() {
        // 输入监听(输入框输入内容 按钮变色)
        if (
          this.mobileNumFind &&
          this.verCodeFind &&
          this.pwValReset &&
          this.pwValConReset
        ) {
          this.buttonFind = {
            background: "#D2AC2B" // 手机号和密码，以及验证码都有输入内容，按钮变橙色
          };
        } else {
          this.buttonFind = {
            background: "rgba(202,202,202,0.90)" // 手机号和密码有一个未输入，按钮为灰色
          };
        }
      },
      pwConReset: function() {
        // 确认密码格式验证
        let regNum = new RegExp(/^[\w]{6,20}$/); //6-20位数字或者字母
        if (!regNum.test(this.pwValConReset)) {
          this.isShowFind = true;
          this.verState = true; // 信息有误
          this.propmtTitleFind = this.pwWarnSet; //密码有误
          this.alertWarnClose(); // 关闭提示框
        } else if (this.pwValReset != this.pwValConReset) {
          // 两次输入的密码判断
          this.isShowFind = true;
          this.verState = true; // 信息有误
          this.propmtTitleFind = this.twoPwCon; // 两次密码不一致
          this.alertWarnClose();
        } else {
          this.isShowFind = false; // 提示框关闭
          this.verState = false; // 无信息错误
        }
      },
      alertWarnClose: function() {
        // 错误提示弹框关闭
        let _this = this;
        setTimeout(function() {
          _this.isShowFind = false;
        }, 3000);
      },
      jumpBack: function() {
        let findPwBack = localStorage.getItem("findPwBack"); // 设定找回密码返回地址
        if (findPwBack && findPwBack == "setting") {
          this.$router.push({
            path: "/setting"
          }); // 跳转到首页上
        } else {
          this.$router.push({
            path: "/signIn"
          }); // 跳转到首页上
        }
      },
      changeLanguage:function(){
        if (this.languageChange == "en") {
          //英文状态下
          this.langOptions = this.$store.state.optionsEn;  // 获取国家代码的英文
        } else {
          //中文状态下
          this.langOptions = this.$store.state.optionsCh; // 获取国家代码的中文
        }
      },
      choiceCode:function(index){
        // 选择国家代码
        this.counCodeNumReg = this.langOptions[index].value;
        this.codeShow = false;  // 国家代码下拉框关闭
      },
      getChoiceCode:function(){
        // 聚焦国家代码
        this.codeShow = true; // 国家代码下拉框开启
        let _this = this;
        this.changeLanguage(); // 赋值国家代码
      },
      comChoiceCode:function(){
        // 完成选择(失焦)国家代码
        if(!this.counCodeNumReg || this.langOptions.length == 0){
          this.counCodeNumReg = "86";
        }else{
          if(this.counCodeNumReg){
            let codeNumber = parseInt(this.counCodeNumReg);
            if(!codeNumber){
               this.counCodeNumReg = "86";
            }
          }
        }
        this.codeShow = false;  // 国家代码下拉框关闭
      },
      filterCode:function(){
        // 录入国家代码时筛选
        let _this = this;
        let inputVal = this.counCodeNumReg;  // 获取国家代码
        let arrCode = []; // 存储含有输入信息的国家代码
        if(inputVal){
            for(let i=0; i<this.initOptions.length; i++){
              let strText = this.initOptions[i].text; // 获取数据
              let strValue = this.initOptions[i].value; // 获取国家代码值
              let strIcon = this.initOptions[i].icon; // 获国家图标
              if(!strIcon){
                strIcon = "";
              }
              if(strText.indexOf(inputVal) !=-1 ){
                let codeJson = {
                  text:strText, 
                  value:strValue,
                  icon:strIcon
                }
                arrCode.push(codeJson);  // 存储含有输入信息的国家代码 
              }
            }
            this.langOptions = arrCode;  // 赋值筛选出来的国家代码
            if(arrCode.length == 0){
              this.codeShow = false;  // 国家代码下拉框关闭
            }
        }else{
          this.changeLanguage(); // 赋值国家代码
        }
      }
    }
  };
</script>
<style src="../css/findPW.scss" lang="scss" scoped>

</style>
