<template>
  <div class="roomCommon ac">
    <room-top></room-top>
    <div class="roomCommon-con">
        <room-slider></room-slider>
        <div class="roomCommon-main clearBox">
          <div class="main-content clearBox">
            <div class="scene-list" v-for="(scene,index) in scenes" :key="index">
               <h3 class="ul-title">
                <span class="title-dot">·</span>
                <span>{{scene.title}}</span>
                <span class="title-dot">·</span>
              </h3>
              <ul class="main-con-ul clearBox" v-bind:class="{'li-all-active':scene.allState}">
                <li class="main-li" v-bind:class="{'li-right':scene.right}" @click.stop="sceneChange(index)">
                  <div class="icon-left"><i class="iconfont icon-on"></i></div>
                  <div class="text-middle">{{scene.text}}</div>
                </li>
                <li class="main-li" v-bind:class="{'pointDefault':!scene.allState}">
                  <div class="icon-left" @click.stop="tempSub(index)">
                    <div class="icon-box"><i class="iconfont icon-sub1"></i></div>    
                  </div>
                  <div class="text-middle"><span>{{scene.tempNum}}<sup>℃</sup></span></div>
                  <div class="icon-left" @click.stop="tempAdd(index)">
                    <div class="icon-box"><i class="iconfont icon-add1"></i></div>    
                  </div>
                </li>
                <li class="main-li" v-bind:class="{'li-right':scene.right,'pointDefault':!scene.allState}">
                  <div class="icon-left" v-for="(temp,index1) in scene.temps" :key="index1" @click.stop="changeTemps(index,index1)">
                    <div class="icon-box" v-bind:class="{'temp-active':temp.state}"><i class="iconfont" :class="temp.icon"></i></div>    
                  </div>
                </li>
                <li class="main-li" v-bind:class="{'pointDefault':!scene.allState}">
                  <div class="icon-left" @click.stop="windSub(index)">
                    <div class="icon-box"><i class="iconfont icon-sub1"></i></div>    
                  </div>
                  <div class="text-middle">
                    <i class="iconfont" :class="scene.windState"></i>
                  </div>
                  <div class="icon-left" @click.stop="windAdd(index)">
                    <div class="icon-box"><i class="iconfont icon-add1"></i></div>    
                  </div>
                </li>
              </ul>
            </div>
          </div>
        </div>
    </div>
  </div>
    <!-- 侧边栏组件 -->
</template>


<script>
import RoomTop from "../../../components/room/RoomTop.vue";
import RoomSlider from "../../../components/room/RoomSlider.vue";
  export default {
    name: "ac",
    components: {
      RoomTop,
      RoomSlider
    },
    data() {
      return {
        scenes:[
          { 
            title:"Livingroom scenes",
            text:"ON",
            allState:true,
            tempNum:26,
            right:true,
            active:false,
            temps:[
              {icon:"icon-hot", state:false},
              {icon:"icon-auto1", state:true},
              {icon:"icon-cold", state:false}
            ],
            windState:"icon-wind1"
          },
          { 
            title:"Bedroom Scenes",
            text:"OFF",
            allState:false,
            tempNum:28,
            right:true,
            active:false,
            temps:[
              {icon:"icon-hot", state:false},
              {icon:"icon-auto1", state:false},
              {icon:"icon-cold", state:false}
            ],
             windState:"icon-smallwind"
          }
        ],
        sceneOn:"ON",
        sceneOff:"OFF",
        windArr:["icon-smallwind", "icon-wind1", "icon-wind"]
      };
    },
    mounted: function() {
       let languageSet = localStorage.getItem("languageSet");
        if (!languageSet) {
          languageSet = "en";
        }
        if (languageSet == "en") {// 英文状态
          this.sceneOn = "ON";
          this.sceneOff = "OFF";
        }
        if (languageSet == "zh-cn") { // 中文状态
          this.sceneOn = "开";
          this.sceneOff = "关";
        }
        this.sceneLang(languageSet); 
        //this.testMqtt();
    },
    methods: {
     sceneChange: function(index){
       let sceneState = this.scenes[index].allState;
       let roomAirArr = this.$store.state.roomAirArr;
       if(sceneState == true){
        this.scenes[index].allState = false; // 空调关闭
        this.scenes[index].text = this.sceneOff;
        for(let i=0; i<this.scenes[index].temps.length; i++){
          this.scenes[index].temps[i].state = false;
        }
        let that = this;
        
        this.axios.post(
            '/api',
           roomAirArr[0]+"1"+ roomAirArr[1]+"1"+ roomAirArr[2]+"0"+ roomAirArr[3]+"0"+ roomAirArr[4]+"35"+ roomAirArr[5]
            )
					.then(function(sures) { 
            console.log("上传成功",sures) 
            })
          .catch(function(catchres) { 
            console.log("上传失败",catchres) 
            }) 
       }else{
        this.scenes[index].allState = true; // 空调开启
        this.scenes[index].text = this.sceneOn;
        this.scenes[index].temps[1].state = true;
          let that = this;
        this.axios.post(
            '/api',
           roomAirArr[0]+"1"+ roomAirArr[1]+"1"+ roomAirArr[2]+"3"+ roomAirArr[3]+"3"+ roomAirArr[4]+"24"+ roomAirArr[5]
            )
					.then(function(sures) { 
            console.log("上传成功",sures) 
            })
          .catch(function(catchres) { 
            console.log("上传失败",catchres) 
            })
       }
     },
     sceneLang: function(lang){
       let arr1 = ["Livingroom Scened", "Bedroom Scenes"];
       let arr2 = ["客厅", "卧室"];
       let arr =[];
       if(lang == "en"){
         arr = arr1;
       }else{
         arr = arr2;
       }
       for(let i=0; i<this.scenes.length; i++){
          this.scenes[i].title = arr[i];
          let states = this.scenes[i].allState;
          if(states == true){
            this.scenes[i].text = this.sceneOn;
          }else{
            this.scenes[i].text = this.sceneOff;
          }
       }
     },
     // 切换温度
     changeTemps: function(index,index1){
       let tempsLen = this.scenes[index].temps.length;
       for(let i=0; i<tempsLen; i++){
         this.scenes[index].temps[i].state = false;
       }
      this.scenes[index].temps[index1].state = true;
     },
     // 温度减
     tempSub: function(index){
        this.scenes[index].tempNum = this.scenes[index].tempNum-1;
     },
     // 温度加
      tempAdd: function(index){
        this.scenes[index].tempNum = this.scenes[index].tempNum+1;
     },
     // 风速减
     windSub: function(index){
       let windIcon = this.scenes[index].windState;
       if(this.windArr.indexOf(windIcon)>-1){
         let windIndex = this.windArr.indexOf(windIcon);
          if(windIndex>1 || windIndex == "1"){
             windIndex = windIndex -1;
            this.scenes[index].windState = this.windArr[windIndex];
          }
       }
     },
     // 风速加
     windAdd: function(index){
       let windIcon = this.scenes[index].windState;
       if(this.windArr.indexOf(windIcon)>-1){
         let windIndex = this.windArr.indexOf(windIcon);
          if(windIndex<1 || windIndex == 1){
             windIndex = windIndex +1;
            this.scenes[index].windState = this.windArr[windIndex];
          }
       }
     },
     testMqtt:function(){
       var client = mqtt.connect();

      client.subscribe("mqtt/demo");

      client.on("message", function(topic, payload) {
        alert([topic, payload].join(": "));
        client.end();
      });

      client.publish("mqtt/demo", "hello world!");
     }

    },
    destroyed: function(index) {}
  };
</script>


<style src="../css/ac.scss" lang="scss" scoped>

</style>


