<template>
  <div class="roomCommon curtain">
    <room-top></room-top>
    <div class="roomCommon-con">
        <room-slider></room-slider>
        <div class="roomCommon-main clearBox">
          <div class="main-content clearBox">
            <div class="scene-list" v-for="(scene,index) in scenes" :key="index">
               <h3 class="ul-title">
                <span class="title-dot">·</span>
                <span>{{scene.title}}</span>
                <span class="title-dot">·</span>
              </h3>
              <ul class="main-con-ul clearBox">
                <li class="main-li" v-for="(item,index1) in scene.items" :key="index1">
                  <h3 class="li-text">{{item.text}}</h3>
                  <div class="li-box">
                    <div class="li-list" v-for="(curtain,index2) in item.curtains" :key="index2" 
                    :class="{'list-middle':curtain.listPosition}" @click.stop="curtainChange(index,index1,index2)">
                      <div class="icon-left" v-bind:class="{'icon-active':curtain.state}">
                        <i class="iconfont" :class="curtain.icon"></i>
                      </div>
                    </div>
                  </div>
                </li>
              </ul>
            </div>
          </div>
        </div>
    </div>
  </div>
    <!-- 侧边栏组件 -->
</template>


<script>
import RoomTop from "../../../components/room/RoomTop.vue";
import RoomSlider from "../../../components/room/RoomSlider.vue";
  export default {
    name: "curtain",
    components: {
      RoomTop,
      RoomSlider
    },
    data() {
      return {
        scenes:[
          { 
            title:"Living Room Scenes",
            items:[
              {
                text:"Curtain",
                curtains:[
                  {icon:"icon-curtainopen",state:false, listPosition:false, switch:"F596FFFE00640014"},
                  {icon:"icon-curtainstop",state:false, listPosition:true, switch:"F596FFFE00640014"},
                  {icon:"icon-curtainshut",state:false, listPosition:false, switch:"F596FFFE03640011"},
                ],
                
              },
              {
                text:"Sheer",
                curtains:[
                  {icon:"icon-sheepopen",state:false, listPosition:false, switch:"F597FFFE00640013"},
                  {icon:"icon-curtainstop",state:false, listPosition:true, switch:"F597FFFE00640013"},
                  {icon:"icon-sheepshut",state:false, listPosition:false, switch:"F597FFFE03640010"},
                ],
                 listPosition:true
              }
            ]
          },
          { 
            title:"Bedroom Scenes",
            items:[
               {
                text:"Curtain",
                curtains:[
                  {icon:"icon-curtainopen",state:false, listPosition:false, switch:"F596FFFE00640014"},
                  {icon:"icon-curtainstop",state:false, listPosition:true, switch:"F596FFFE00640014"},
                  {icon:"icon-curtainshut",state:false, listPosition:false, switch:"F596FFFE03640011"},
                ],
                listPosition:true
              },
              {
                text:"Sheer",
                curtains:[
                  {icon:"icon-sheepopen",state:false, listPosition:false, switch:"F597FFFE00640013"},
                  {icon:"icon-curtainstop",state:false, listPosition:true, switch:"F597FFFE00640013"},
                  {icon:"icon-sheepshut",state:false, listPosition:false, switch:"F597FFFE03640010"},
                ],
                 listPosition:true
              }
            ]
          }
        ]
      };
    },
    mounted: function() {
      this.curtainLoad();
    },
    methods: {
      curtainLoad: function(){
        let languageSet = localStorage.getItem("languageSet");
        if (!languageSet) {
          languageSet = "en";
        }
        this.replace(languageSet);
      },
     curtainChange:function(index,index1,index2){
       let len = this.scenes[index].items[index1].curtains.length;
       for(let i=0; i<len; i++){
         this.scenes[index].items[index1].curtains[i].state = false;
       }
       this.scenes[index].items[index1].curtains[index2].state = true;
       let that = this;
        this.axios.post(
            '/api',
           that.$root.roomControlA+ this.scenes[index].items[index1].curtains[index2].switch+that.$root.roomControlB
            )
					.then(function(sures) { 
            console.log("上传成功",sures) 
            })
          .catch(function(catchres) { 
            console.log("上传失败",catchres) 
            }) 
     },
     replace: function(lang){
      let arrItems1 = [
        {
          title:"Living Room Scenes",
          arr:["Curtain","Sheer"]
        },
        {
          title:"Bedroom Scenes",
           arr:["Curtain","Sheer"]
        }
      ];
       let arrItems2 = [
        {
          title:"客厅场景",
          arr:["窗帘","Sheer"]
        },
        {
          title:"卧室场景",
          arr:["窗帘","Sheer"]
        }
      ];
      let arrItems = [];
      if(lang == "en"){
        arrItems = arrItems1;
      }else{
         arrItems = arrItems2;
      }
      for(let i=0; i<arrItems.length; i++){
        this.scenes[i].title = arrItems[i].title;
        for(let j=0; j<this.scenes[i].items.length; j++){
          this.scenes[i].items[j].text = arrItems[i].arr[j];
        }
      }
     }
    },
    destroyed: function(index) {}
  };
</script>


<style src="../css/curtain.scss" lang="scss" scoped>

</style>


