<template>
  <div class="roomCommon home">
    <room-top></room-top>
    <div class="roomCommon-con">
        <room-slider></room-slider>
        <div class="roomCommon-main clearBox">
          <div class="main-top">
            <div class="top-btn">
              <div class="btn-li" v-for="(temp,index) in temps" 
              :key="index" v-bind:class='{"btn-active":temp.state}' @click.stop="tempChange(index)">{{temp.text}}</div>
            </div>
            <div class="top-tempList">
              <div class="temp-li" v-for="(tempNum,index) in tempNums" :key="index">
                <div class="temp-box">
                  <div class="temp-li-num">
                    <span><i class="iconfont icon-shineiwenduji"></i></span>
                    <span>{{tempNum.num}}</span><sup>{{tempNum.icon}}</sup>
                  </div>
                  <div class="temp-li-text">{{tempNum.text}}</div>
                </div>
              </div>
            </div>
          </div>
          <div class="main-content clearBox">
            <ul class="main-con-ul clearBox">
              <li class="main-li" v-bind:class="{'li-right':item.right, 'li-active':item.state}" 
              v-for="(item,index) in items" :key="index" @click.stop="controlLight(index)">
                <h3 class="li-icon"><i class="iconfont" v-bind:class="item.icon"></i></h3>
                <h5 class="li-text">{{item.text}}</h5>
              </li>
            </ul>
          </div>
        </div>
    </div>
  </div>
    <!-- 侧边栏组件 -->
</template>


<script>
import RoomTop from "../../../components/room/RoomTop.vue";
import RoomSlider from "../../../components/room/RoomSlider.vue";
  export default {
    name: "home",
    components: {
      RoomTop,
      RoomSlider
    },
    data() {
      return {
        temps:[
          {text:"℃", state:true},
          {text:"℉", state:false},
        ],
        tempNums:[
          {num:28,icon:"℃",text:"Room Temp."},
          {num:33,icon:"℃",text:"Outdoor Temp."}
        ],
        items:[
          {text:"Night Lamp", icon:"icon-nightlamp", state:false,  right:true, open:"FB64031300020188", close:"FB64031300020188"},
          {text:"Porch Lamp", icon:"icon-porch", state:true, right:false, open:"F508FFFE006400A2", close:"F508FFFE0364009F"},
          {text:"Master Off", icon:"icon-masteroff", state:false, right:true, open:"F5C9FFFE006400E1", close:"F5C9FFFE036400DE"},
          {text:" DND", icon:"icon-dnd", state:false, right:false, open:"FB64031300020188", close:"FB64031300020188"},
          {text:"MUR", icon:"icon-mur", state:false, right:true, open:"FB64031300020188", close:"FB64031300020188"},
          {text:"Door Lock", icon:"icon-doorlock", state:false, right:false, open:"FB64031300020188", close:"FB64031300020188"}
        ]
      };
    },
    mounted: function() {
       let languageSet = localStorage.getItem("languageSet");
        if (!languageSet) {
          languageSet = "en";
        }
        if (languageSet == "en") {// 英文状态
          this.tempNums[0].text = "Room Temp."; // 室内温度
          this.tempNums[1].text = "Outdoor Temp."; // 室外温度
        }
        if (languageSet == "zh-cn") { // 中文状态
           this.tempNums[0].text = "室内温度";
          this.tempNums[1].text = "室外温度";
        }
    },
    methods: {
       // 温度切换
      tempChange: function(index){
        let tempIcon = this.temps[index].text;
        let type = "small";
        for(let i=0; i<this.temps.length; i++){
          this.temps[i].state = false;
          this.tempNums[i].icon = tempIcon;
          if(tempIcon == "℃"){
            type = "small";
          }else{
             type = "large";
          }
          let str = this.tempNums[i].num; // 温度
          this.tempNums[i].num = this.changeDeg(str,type);
        }
        this.temps[index].state = true;
      },
      changeDeg: function(str, type) {
        //摄氏度与华氏度的切换  // 华氏度＝32＋摄氏度×1.8
        let num = str; // 字符串转换成数组
        let temp = "";
        if (type == "small") {
          temp = (num - 32) / 1.8; // 华氏度转换成摄氏度
          temp = parseInt(temp); // 摄氏度取整
        } 
        if (type == "large") {
          temp = 32 + num * 1.8; // 摄氏度转换成华氏度
          temp = temp.toFixed(1); // 华氏度保留一位效数
        }
        return temp;
      },
      // 开关控制
      controlLight: function(index){
        let state = this.items[index].state;
         let that = this;
        if(state == true){
          this.items[index].state = false;
          if(index == "5"){
             this.items[index].icon = "icon-doorlock";
          }

            this.axios.post(
            '/api',
           that.$root.roomControlA+this.items[index].close+that.$root.roomControlB
            )
					.then(function(sures) { console.log(sures);
						console.log("上传成功",sures) })
          .catch(function(catchres) { console.log(catchres);
          console.log("asasasasa");
						console.log("上传失败",catchres) }) 
        }else{
          this.items[index].state = true;
          if(index == "5"){
             this.items[index].icon = "icon-opensuccess";
          }
           this.axios.post(
            '/api',
           that.$root.roomControlA+this.items[index].open+that.$root.roomControlB
            )
					.then(function(sures) { console.log(sures);
						console.log("上传成功",sures) })
          .catch(function(catchres) { console.log(catchres);
          console.log("asasasasa");
						console.log("上传失败",catchres) }) 
        }

       // let that = this;
        // if(index == 2 && this.items[2].state == false){
        //   // 关
        //   this.axios.post(
        //     '/api',
        //    that.$root.roomControlA+'F5C9FFFE036400DE'+that.$root.roomControlB
        //     )
				// 	.then(function(sures) { console.log(sures);
				// 		console.log("上传成功",sures) })
        //   .catch(function(catchres) { console.log(catchres);
        //   console.log("asasasasa");
				// 		console.log("上传失败",catchres) }) 

        // }else if(index == 2 && this.items[2].state == true){
        //   // 开
        //   this.axios.post(
        //     '/api',
        //     that.$root.roomControlA+'F5C9FFFE006400E1'+that.$root.roomControlB
        //     )
				// 	.then(function(sures) { console.log(sures);
				// 		console.log("上传成功",sures) })
        //   .catch(function(catchres) { console.log(catchres);
        //   console.log("asasasasa111111111111111");
				// 		console.log("上传失败",catchres) }) 
        // }

      }
    },
    destroyed: function(index) {}
  };
</script>


<style src="../css/home.scss" lang="scss" scoped>

</style>


