<template>
  <div class="roomCommon light">
    <room-top></room-top>
    <div class="roomCommon-con">
        <room-slider></room-slider>
        <div class="roomCommon-main clearBox">
          <div class="main-content clearBox">
            <div class="scene-list" v-for="(scene,index) in scenes" :key="index">
               <h3 class="ul-title">
                <span class="title-dot">·</span>
                <span>{{scene.title}}</span>
                <span class="title-dot">·</span>
              </h3>
              <ul class="main-con-ul clearBox">
                <li class="main-li" v-bind:class="{'li-right':item.right, 'li-active':item.state}" 
                v-for="(item,index1) in scene.items" :key="index1" @click.stop="controlLight(index,index1)">
                  <div class="li-icon"><i class="iconfont" v-bind:class="item.icon"></i></div>
                  <div class="li-text">{{item.text}}</div>
                </li>
              </ul>
            </div>
          </div>
        </div>
    </div>
  </div>
    <!-- 侧边栏组件 -->
</template>


<script>
import RoomTop from "../../../components/room/RoomTop.vue";
import RoomSlider from "../../../components/room/RoomSlider.vue";
  export default {
    name: "light",
    components: {
      RoomTop,
      RoomSlider
    },
    data() {
      return {
        scenes:[
          { 
            title:"Bedroom",
            items:[
              {text:"Master Lamp", icon:"icon-light", state:true, right:true, open:"F504FFFE046400A2", close:"F504FFFE036400A3"},
              {text:"Night Lamp", icon:"icon-light", state:false, right:false, open:"FB64031300020188", close:"FB64031300020188"},
              {text:"Desk Lamp", icon:"icon-light", state:false, right:true, open:"FB64031300020188", close:"FB64031300020188"},
              {text:"Ceiling Lamp", icon:"icon-light", state:false, right:false, open:"FB64031300020188", close:"FB64031300020188"},
              {text:"Light Belt", icon:"icon-light", state:false, right:true, open:"FB64031300020188", close:"FB64031300020188"},
              {text:"Tube Lamp", icon:"icon-light", state:false, right:false, open:"FB64031300020188", close:"FB64031300020188"},
              {text:"Left bedside Lamp", icon:"icon-light", state:false, right:true, open:"FB64031300020188", close:"FB64031300020188"},
              {text:"Right bedside Lamp", icon:"icon-light", state:false, right:false, open:"FB64031300020188", close:"FB64031300020188"},
              {text:"Left reading Lamp", icon:"icon-light", state:false, right:true, open:"F598FFFE00640012", close:"F598FFFE0364000F"},
              {text:"Right reading Lamp", icon:"icon-light", state:false, right:false, open:"F599FFFE00640011", close:"F599FFFE0364000E"}
            ]
          },
          { 
            title:"Washroom",
            items:[
              {text:"Master Heading", icon:"icon-light", state:true,  right:true, open:"F503FFFE006400A7", close:"F503FFFE036400A4"},
              {text:"Lens Heading", icon:"icon-light", state:false,  right:false, open:"F503FFFE006400A7", close:"F503FFFE036400A4"},
              {text:"Reading", icon:"icon-light", state:false, right:true, open:"F503FFFE006400A7", close:"F503FFFE036400A4"},
              {text:"Ceiling", icon:"icon-light", state:false, right:false, open:"F503FFFE006400A7", close:"F503FFFE036400A4"},
              {text:"Light Belt", icon:"icon-light", state:false, right:true, open:"F503FFFE006400A7", close:"F503FFFE036400A4"},
              {text:"Tube Lamp", icon:"icon-light", state:false, right:false, open:"F503FFFE006400A7", close:"F503FFFE036400A4"},
              {text:"Toilet Lamp", icon:"icon-light", state:false, right:true, open:"F503FFFE006400A7", close:"F503FFFE036400A4"}
            ]
          }
        ]
      };
    },
    mounted: function() {
       let languageSet = localStorage.getItem("languageSet");
        if (!languageSet) {
          languageSet = "en";
        }
        this.replace(languageSet);
    },
    methods: {
     replace: function(lang){
      let arrItems1 = [
        {
          title:"Bedroom",
          items:[
            "Master Lamp","Night Lamp", "Desk Lamp", "Ceiling Lamp", 
            "Light Belt", "Tube Lamp","Left bedside Lamp", 
            "Right bedside Lamp", "Left reading Lamp", "Right reading Lamp"
          ]
        },
        {
          title:"Washroom",
          items:[
            "Master Lamp","Lens Heading", "Reading",  "Ceiling", 
            "Light Belt", "Tube Lamp", "Toilet Lamp"
          ]
        }
      ];
       let arrItems2 = [
         {
          title:"卧室",
          arr:[
            "总开关","夜灯", "台灯", "顶灯", "灯带", "管灯",
            "左床头灯", "右床头灯", "左阅读灯", "右阅读灯"
          ]
        },
        {
          title:"盥洗室",
          arr:["总开关","镜头标题", "阅读",  "天花板", "灯带", "管灯", "卫生间灯"]
        }
      ];
      let arrItems = [];
      if(lang == "en"){
        arrItems = arrItems1;
      }else{
         arrItems = arrItems2;
      }
      for(let i=0; i<arrItems.length; i++){
        this.scenes[i].title = arrItems[i].title;
        for(let j=0; j<this.scenes[i].items.length; j++){
          this.scenes[i].items[j].text = arrItems[i].arr[j];
        }
      }
     },
      // 开关控制
      controlLight: function(index,index1){
        let state = this.scenes[index].items[index1].state;
         let that = this;
        if(state == true){
         this.scenes[index].items[index1].state = false;
            this.axios.post(
            '/api',
           that.$root.roomControlA+this.scenes[index].items[index1].close+that.$root.roomControlB
            )
					.then(function(sures) { 
            console.log("上传成功",sures) 
            })
          .catch(function(catchres) {
            console.log("上传失败",catchres) 
            }) 
        }else{
          this.scenes[index].items[index1].state = true;
           this.axios.post(
            '/api',
           that.$root.roomControlA+this.scenes[index].items[index1].open+that.$root.roomControlB
            )
					.then(function(sures) { 
            console.log("上传成功",sures) 
            })
          .catch(function(catchres) { 
            console.log("上传失败",catchres) 
            }) 
        }
      }
    },
    destroyed: function(index) {}
  };
</script>


<style src="../css/light.scss" lang="scss" scoped>

</style>


