<template>
  <div class="roomCommon tv">
    <room-top></room-top>
    <div class="roomCommon-con">
        <room-slider></room-slider>
        <div class="roomCommon-main clearBox">
          <ul class="main-top clearBox">
            <li class="top-list" v-bind:class="{'pointerDefault': !swithState}">
              <div class="top-list-box" v-bind:class="{'voice-active':voiceActive}" @click.stop="voiceActive =! voiceActive">
                <i class="iconfont icon-mute"></i>
              </div>
            </li>
            <li class="top-list top-middle">
              <van-picker :columns="columns" @change="onChange" 
              :visible-item-count="3" :item-height="33" />
            </li>
            <li class="top-list">
               <div class="top-list-box" v-bind:class="{'swith-all-active':swithState}" @click.stop="allSwith">
                <i class="iconfont icon-on"></i>
              </div>
            </li>
          </ul>
          <div class="main-content clearBox" v-bind:class="{'pointerDefault': !swithState}">
            <div class="main-circle">
              <div class="circle-second"></div>
              <div class="circle-btn" v-for="(arrow,index) in arrows" :key="index" 
              v-bind:class="[arrow.class,{'cricle-active':arrow.state}]" @click.stop="dirBtn(index)">
                 <i class="iconfont" :class="arrow.iconDir"></i>
              </div>
            </div>
          </div>
          <ul class="main-bottom clearBox" v-bind:class="{'pointerDefault': !swithState}">
            <li class="bottom-li" v-for="(tvList,index) in tvLists" :key="index">
              <ul class="li-box" v-bind:class="{'li-middle':tvList.state}">
                <li class="box-icon" v-for="(tvIcon,index1) in tvList.tvIcons" :key="index1" 
                v-bind:class="{'icon-middle':tvIcon.position, 'icon-active':tvIcon.state}"
                @click.stop="btnClick(index,index1)">
                  <i class="iconfont" :class="tvIcon.iconImg"></i>
                </li>
              </ul>
            </li>

          </ul>
        </div>
    </div>
  </div>
    <!-- 侧边栏组件 -->
</template>


<script>
import RoomTop from "../../../components/room/RoomTop.vue";
import RoomSlider from "../../../components/room/RoomSlider.vue";
  export default {
    name: "tv",
    components: {
      RoomTop,
      RoomSlider
    },
    data() {
      return {
        columns: [
          { text: 'Livingroom TV'},
          { text: 'Bedroom TV'},
          { text: 'Washroom TV' }
        ],
        swithState:false,
        voiceActive:false,
        arrows:[
          {class:"top", iconDir:"icon-up-arrow", state:false},
          {class:"left", iconDir:"icon-left-arrow", state:false},
          {class:"right", iconDir:"icon-right-arrow", state:false},
          {class:"bottom", iconDir:"icon-down-arrow", state:false}
        ],
        tvLists:[
          {
            tvIcons:[
              {iconImg:"icon-add1", position:false, state:false},
              {iconImg:"icon-voice", position:true, state:false},
              {iconImg:"icon-sub1", position:false, state:false}
            ],
            state:false
          },
          {
            tvIcons:[
              {iconImg:"icon-Signalsource", position:false, state:false},
              {iconImg:"icon-hometv", position:true, state:false},
              {iconImg:"icon-back2", position:false, state:false}
            ],
            state:true
          },
          {
            tvIcons:[
              {iconImg:"icon-up-arrow", position:false, state:false},
              {iconImg:"icon-ch", position:true, state:false},
              {iconImg:"icon-down-arrow", position:false, state:false}
            ],
            state:false
          }
        ]
      };
    },
    mounted: function() {
      this.tvLoad();
    },
    methods: {
      tvLoad:function(){
          let languageSet = localStorage.getItem("languageSet");
        if (!languageSet) {
          languageSet = "en";
        }
        if (languageSet == "en") {// 英文状态
          this.columns = [
            { text: 'Livingroom TV'},
            { text: 'Bedroom TV'},
            { text: 'Washroom TV' }
          ]
        }
        if (languageSet == "zh-cn") { // 中文状态
           this.columns = [
            { text: '客厅'},
            { text: '卧室'},
            { text: '盥洗室' }
          ]
        }
      },
      onChange: function(picker, value, index) {
        // 获取电视系统的值
      },
      allSwith: function(){
        if(this.swithState == true){
          this.swithState = false; // 关闭总开关
          this.changeState();   // 关闭所有按钮
          this.voiceActive = false; // 关闭静音按钮
        }else{
          this.swithState = true; // 关闭总开关
        }
      },
      dirBtn: function(index){
        this.changeState(); //清除所有按钮
        this.arrows[index].state = true;  // 给当前点击的按钮添加选中状态
      },
      btnClick: function(index,index1){
        this.changeState(); //清除所有按钮
        this.tvLists[index].tvIcons[index1].state = true;  // 给当前点击的按钮添加选中状态
      },
      changeState:function(){
        for(let i=0; i<this.arrows.length; i++){
          this.arrows[i].state = false;  // 清除方向键的选中状态
        }
        for(let j=0; j<this.tvLists.length; j++){
          for(let k=0; k<this.tvLists[j].tvIcons.length; k++){
            this.tvLists[j].tvIcons[k].state = false; // 清除按钮的选中状态
          }
        }
      }
    },
    destroyed: function(index) {}
  };
</script>


<style src="../css/tv.scss" lang="scss">

</style>


