.messageList {
  position: relative;
  overflow: hidden;
  width: 100%;
  height: 100%;
  font-weight: lighter;
}

.messageList-main {
  float: left;
  width: 100%;
  height: 100%;
  overflow: auto;
  background: #f4f4f4;
  border-top: 0.1rem solid rgba(10, 35, 99, 0.6);
  box-sizing: border-box;
  .msgList-ul {
    float: left;
    width: 100%;
    height: auto;
    padding-bottom: 0.5rem;
    overflow: auto;
    margin-bottom: 1.28rem;
    .msgList-li {
      float: left;
      width: 100%;
      height: 1.6rem;
      border-bottom: 0.02rem solid #ccc;
      .msg-warn {
        float: left;
        width: 1.2rem;
        height: 1.6rem;
        .msg-warn-box {
          float: left;
          width: 0.8rem;
          height: 0.8rem;
          text-align: center;
          line-height: 0.8rem;
          margin: 0.4rem 0.3rem;
          border-radius: 0.8rem;
          background: #d2ac2b;
          .iconfont {
            font-size: 0.48rem;
          }
          .icon-red {
            display: block;
            background: #f00;
            border-radius: 50%;
            width: 0.1rem;
            height: 0.1rem;
            top: -0.08rem;
            right: 0.05rem;
            position: absolute;
          }
        }
        .msg-warn-span {
          position: relative;
        }
      }
      .msg-text {
        float: left;
        width: 5.8rem;
        height: 1rem;
        margin: 0.3rem 0;

        text-align: left;
        .msg-text-li {
          width: 100%;
          height: 0.5rem;
          line-height: 0.5rem;
        }
        .msg-text-li-tt {
          font-size: 0.32rem;
          color: #191814;
          font-weight: normal;
        }
        .msg-text-li-time {
          display: block;
          float: right;
          text-align: right;
          color: #8a8a8a;
        }
        .msg-des {
          font-size: 0.28rem;
          font-weight: lighter;
          color: #8a8a8a;
          float: left;
          height: 0.5rem;
          width: 4.5rem;
          white-space: nowrap;
          overflow: hidden;
          text-overflow: ellipsis;
        }
        .msg-delete {
          float: right;
          font-size: 0.36rem;
          .iconfont {
            color: #8a8a8a;
          }
        }
      }
    }
  }
}

.messageDetail {
  .messageList-main {
    background: rgba(0, 0, 0, 0);
    border: 0;
    .msgList-ul {
      background: #f4f4f4;
      border-top: 0.1rem solid rgba(10, 35, 99, 0.6);
      padding: 0;
      margin-bottom: 1.28rem;
      .msgDetail-top {
        float: left;
        width: 100%;
        height: 0.8rem;
        line-height: 0.8rem;
        font-size: 0.32rem;
        color: #191814;
        text-align: left;
        border-bottom: 0.02rem solid #ccc;
        .msgDetail-top-tt {
          padding-left: 0.2rem;
        }
        .msgDetail-top-delete {
          padding-right: 0.2rem;
          display: block;
          text-align: right;
          float: right;
        }
        .iconfont {
          font-size: 0.32rem;
          color: #8a8a8a;
        }
      }
      .msgDetail-main {
        float: left;
        width: 6.9rem;
        height: auto;
        padding: 0.2rem 0.3rem;
        text-align: left;
        color: #8a8a8a;
        .msgDetail-des {
          float: left;
          width: 100%;
          height: auto;
          margin-bottom: 2rem;
          font-size: 0.28rem;
          line-height: 0.4rem;
        }
        .msgDetail-time {
          float: left;
          width: 100%;
          height: 0.4rem;
          line-height: 0.4rem;
          font-size: 0.24rem;
        }
      }
    }
  }
}
