.orderListQuery{
    position: relative;
    overflow: hidden;
    width: 100%; 
    height: 100%;
    color: #F4F4F4;
    font-weight: lighter;
    .header-tt{
        color: #fff;
        font-size: 0.36rem;
        position: absolute;
        z-index: 9999;
    }
    .header-ul{
        float:left;
        width: 100%;
        height: 0.8rem;
        margin-top: 0.48rem;
        line-height: 0.8rem;
        
    }
    .orderList-main{
        width: 100%;
        height: 100%;
        position: absolute;
        .orderList-main-tt{
            position:absolute;
             left:0; 
             top:1.28rem; 
             z-index:333333;
              width:100%; 
              height:0.92rem; 
              background:#fcfcfc;
              border-bottom:0.01rem solid #bbb;
              .orderList-tt-li{
                float: left;
                width:21%;
                height: 0.89rem;
                line-height: 0.89rem;
                font-size: 0.24rem;
                color: #4a4a4a;
                border-bottom:0.03rem solid #fcfcfc;
                font-weight: 500;
              }
              .orderList-tt-active{
                color: #D2AC2B;
                border-bottom:0.03rem solid #D2AC2B;
              }
              .orderList-tt-li:nth-child(1){
                  width:16%;
              }
        }
        .orderList-mainly{
            float:left;
            width:100%;
            height: 100%;
            margin-top: 2.2rem;
            overflow:auto; 
            position:relative;
            .orderList-list{
                width:100%; 
                height:auto; 
                overflow:auto;
                margin-bottom:2.2rem;
                .orderList-loading{
                    float:left; 
                    width:100%; 
                    height:0.8rem; 
                    text-align:center; 
                    line-height:0.8rem; 
                    background:#fff;
                    color:#000;
                    font-size:0.28rem;
                }
            }
            .orderList-li{
                float:left;
                width:100%;
                height: auto;
                background: #FCFCFC;
                color:#000;
                margin: 0.05rem 0 0 0;
            }
            .orderList-box{
                width:100%;
                height: auto;
                .orderList-box-li{
                    float:left;
                    width:100%;
                   line-height: 0.86rem;
                   text-align: left;
                   font-size: 0.32rem;
                   border-bottom: 0.01rem solid #C4C4C4;
                   .box-li-tt{
                    font-size: 0.32rem;
                    color: #8A8A8A;
                    margin-left: 0.2rem;
                   }
                   .box-li-payState{
                       text-align: right;
                       display: block;
                       float: right;
                        color: #D33C01; 
                        margin-right: 0.2rem;
                   }
                   .box-li-images{
                        float:left;
                        width:1.6rem;
                        height: 1.2rem;
                        margin: 0 0.2rem;
                        overflow: hidden;
                        .li-orderImages{
                            width:1.6rem;
                            height: 1.2rem;  
                        }
                    }
                }
                .orderBox-border{
                    padding: 0.2rem 0;
                }
                .orderList-boxs{
                    width:100%;
                    height: 1.2rem;
                    margin: 0.2rem 0;
                    overflow: hidden;
                }
                .orderList-order-num{
                    float:left;
                    width:7.1rem;
                    margin: 0 0.2rem;
                    font-size:0.28rem;
                    line-height: 0.5rem;
                    color:#131318;
                    .order-num-tt{
                        text-align: left;
                    }
                    .order-num-total{
                        display: block;
                       float:right;
                    }
                    .tt-span1{
                        color:#8A8A8A;
                    }
                    .tt-span2{
                        font-weight: 500;
                    }
                    
                }
                .order-list-note{
                    height: auto;
                    max-height: 1.8rem;
                    overflow: auto;
                    word-break: break-all;
                }
            }

            .order-list-none{
                margin-top: 2.2rem;
                width:100%;
                height: 1rem;
                text-align: center;
                line-height: 1rem;
                color:#4a4a4a;
                font-size: 0.32rem;
            }
        }
        .orderListBg{
            background: #F4F4F4;
        }
       
    }
}
.orderDetailData{
    .header-tt{
        background:rgba(10,35,99,0.9);
    }
    .orderDeatil-mainly{
        float:left;
        width:100%;
        height: 100%;
        margin-top: 1.28rem;        
        overflow:auto; 
    }
    .orderDetail-main-tt{
          width:100%; 
          height:auto; 
          background:#fcfcfc;
          border-bottom:0.01rem solid #bbb;
          color:#000000;
    }
    .orderDetail-main-adress{
        margin: auto;
        width:100%;
        height: auto;
        .orderDetail-adress-tt{
            float:left;
            width: 100%;
            height: auto;
            .order-adress-list{
                float:left;
                width:auto;
                max-width:3rem;
                overflow: hidden;
                word-break: keep-all;
                text-overflow: ellipsis;
                margin: 0.2rem 0.1rem 0.1rem 0.1rem;
                font-size: 0.32rem;
                font-weight: 500;
                color: #131318;
                .iconfont{
                    color:#D2AC2B;
                }
            }
            .adress-icon{
                width:0.5rem;
                margin:0.2rem 0 0.1rem 0;
                text-align: center;
            }
        }
        .orderDetail-adress-p{
            float:left;
            width:6.5rem;
            height: auto;
            margin: 0rem 0 0.2rem 0.5rem;
            text-align: left;
            font-size: 0.28rem;
            color: #8B8B8B;
            line-height: 0.4rem;
        }
    }
    
    .orderDetail-list{
        float:left;
        width:100%; 
        height:auto; 
        margin-bottom:2.58rem;
        margin-top: 0.05rem;
        .orderDeatil-num{
            float:left;
            width:100%;
            height: auto;
            background: #fcfcfc;
            color: #131318;
            overflow: auto;
            .orderDeatil-numTime{
                float:left;
                width: 100%;
                height: 0.65rem;
                border-bottom:0.02rem solid #ccc;
                font-size:0.28rem;
                text-align: left;
                line-height: 0.65rem;
                .tt{
                    color: #131318;
                    padding-left:0.2rem;
                    font-weight: 500;
                }
                .num{
                    display: block;
                    float:right;
                    padding-right:0.2rem;
                    color: #8A8A8A;
                }
            }
            .order-note{
                height: auto;
                max-height: 1.6rem;
                overflow: auto;
                .num{
                    padding:0 2%;
                    word-break: break-all;
                }
            }
        }
        .orderDetail-proList{
            float:left;
            width: 100%;
            height: auto;
            background: #FCFCFC;
            margin-top: 0.05rem;
            color:#131318;
            .orderDetail-pro-top{
                width:100%;
                height:0.8rem;
                line-height: 0.8rem;
                text-align: left;
                border-bottom:0.01rem solid #c4c4c4;
                font-size:0.32rem;
                color:#131318;
                font-weight: 500;
                .hotel-text{
                    margin-left: 0.2rem;
                }
                .orderDetail-pro-pay{
                    display: block;
                    float:right;
                    margin-right: 0.2rem;
                    color: #D33C01;
                }
            }
            .orderDetail-pro-middle{
                float:left;
                width:100%;
                height: auto;
                .orderDeatil-pro-list{
                    float:left;
                    width:7.1rem;
                    height: auto;
                    margin: 0 0 0.2rem 0.2rem;
                    padding-top:0.2rem;
                    border-top:0.02rem solid #C4C4C4;
                    .orderDeatil-prolist-img{
                        float:left;
                        width:1.92rem;
                        height: 1.44rem;
                        border:0.03rem solid #c4c4c4;
                        overflow: hidden;
                        text-align: left;
                        .orderDetail-img{
                            float:left;
                            width:1.92rem;
                            height: 1.44rem;
                        }
                    }
                    .orderDeatil-prolist-text{
                        float:left;
                        width:auto;
                        height: 1.46rem;
                        margin-left: 0.2rem;
                        text-align: left;
                        .orderDeatil-prolist-tt{
                            font-size: 0.32rem;;
                            color: #191814;
                            height: 0.35rem;
                            font-weight: 500;   
                        }
                        .orderDeatil-prolist-des{
                            max-width:4rem;
                            height: 0.7rem;
                            line-height: 0.7rem;
                            word-break: keep-all;
                            text-overflow: ellipsis;
                            overflow: hidden;
                            font-size:0.28rem;
                            color:#8A8A8A;
                        }
                        .orderDeatil-prolist-pay{
                            height: 0.35rem;
                            line-height: 0.35rem;
                            font-size: 0.32rem;
                            color: #D2AC2B;
                            .numTotal:before{
                                content: "×"
                            }
                            .numTotal{
                                margin-left: 0.5rem;
                                font-size: 0.28rem;
                                color: #8A8A8A; 
                            }
                        }
                    }  
                }
                .orderDeatil-pro-list:nth-child(1){
                    border-top:0;
                }
            }
            .orderDetail-pro-footer{
                float:left;
                width:100%;
                height: auto;
                border-top:0.01rem solid #C4C4C4;
                border-bottom:0.01rem solid #C4C4C4;
                padding: 0.1rem 0;
                .orderDetail-pay-list{
                    float:left;
                    width:7.1rem;
                    height: 0.5rem;
                    line-height: 0.5rem;
                    margin: 0 0.2rem;
                    font-size: 0.28rem;
                    color: #191814;
                    font-weight: 500;
                    text-align: left;
                }
            }
            .orderDetail-pro-total{
                float:left;
                width:7.1rem;
                height:0.9rem;
                line-height: 0.9rem;
                margin:0 0.2rem;
                text-align: left;  
                font-size: 0.28rem;
                color: #191814;
                font-weight: 500;
                text-align: left;
                .orderDetail-right{
                    color: #D2AC2B;
                }
            }
            .orderDetail-right{
                display: block;
                float:right;
            }
        }
    }
    .orderDetail-footer{
        position: absolute;
        bottom:0;
        width: 100%;
        height: 1.2rem;
        background: #fcfcfc;
        z-index: 334;
        border-top:0.02em solid #c4c4c4;
        float:right;
        color:red;
        .orderDetai-btn-cancel, .orderDetai-btn-pay{
            float:left;
            width:2.5rem;
            height: 0.72rem;
            line-height: 0.72rem;
            border:0.02rem solid red;
            border: 2px solid #D2AC2B;
            border-radius:1rem;;
            margin: 0.2rem;
            font-size:0.32rem;
            text-align: center;
        }
        .orderDetai-btn-cancel{
            margin-left: 1.5rem;
            color:#D2AC2B;
        }
        .orderDetai-btn-pay{
            background: #D2AC2B;
            color:#fff;
        }
    }
    .confirmOrder-model{
        position: absolute;
        left:0;
        bottom:0;
        width:100%;
        height: auto;
        overflow: auto;
        background: #FCFCFC;
        .conOrder-ul{
          float:left;
          width:100%;
          height: auto;
          line-height: 1.1rem;
          color:#000; 
          .order-li{
              float:left;
              width:100%;
              height: 1.1rem;
              border:0.01rem solid #ccc;
            .order-li-text{
                float:left;
                width:6.3rem;
                height: 1.1rem;
                margin: 0.05rem;
                .text-li-img{
                    float:left;
                    width:1.1rem;
                    height: 1.1rem;
                    margin-right: 0.05rem;
                    .images{
                        float:left;
                        width:0.7rem;
                        margin: 0.2rem;
                    }
                }
                .text-li-des{
                    float:left;
                    width:1.1rem;
                    height: 1.1rem;
                    line-height: 1.1rem;
                    font-size:0.36rem;

                }
            }
            .order-li-close{
                float:right;
                width:1rem;
                height: 1.1rem;
                margin-right: 0.05rem;
                font-size:0.28rem;
                .iconfont{
                    color:#000;
                    font-size:0.42rem
                }
                .icon-selected{
                    color:#D2AC2B;
                }
                .icon-none{
                    color:#191814;               
                }
            }
            .order-li-first{
                text-align: center;
                font-size:0.32rem;
            }
          }
        }

    }
    .confirm-footer{
        float:left;
        width:100%;
        height: 1.2rem;
        margin-top: 0.1rem;
        .btn {
            margin: .18rem auto;
            width: 7.02rem;
            height: .84rem;
            background: #d2ac2b;
            border-radius: .08rem;
            font-size: .36rem;
            color: #fff;
            border: 0;
        }
    }
   
}

