<template>
  <div class="gender">
    <div class="iphoneX-main" id="iphoneX-main-gender">
        <div class="header-tt">
          <ul class="header-ul">
            <li class="header-li-left">
              <router-link to="/setting">
                <i class="iconfont icon-back1"></i>
              </router-link>
            </li>
            <li class="header-li-middle">
              {{genderTt}}
            </li>
          </ul>
        </div>
        <div class="gender-main">
          <ul class="gender-ul">
            <li class="gender-li" v-for="(language,index) in languages" :key="index" @click="changeLanguage(index)">
              <span class="gender-li-tt">{{language.tt}}</span>
              <span class="gender-li-icon" v-bind:class="{'gender-icon-active': language.state}"><i class="iconfont icon-default"></i></span>
            </li>
          </ul>
          <button class="gender-btn" @click="jumpSetting">{{languageBtn}}</button>
        </div>
    </div>
  </div>
</template>

<script>
  export default {
    name: "gender",
    data() {
      return {
        genderTt: "Gender",
        languageBtn: "Apply",
        languages: [{
          tt: "Male",
          state: true
        }, {
          tt: "Female",
          state: false
        }, ]
      };
    },
    mounted: function() {
      this.isIPhoneX("iphoneX-main-gender","");   // iphoneX适配问题
      this.languageLoad();
    },
    methods: {
      languageLoad: function() {
        let languageSet = localStorage.getItem("languageSet");
        if (!languageSet) {
          languageSet = "en";
        }
        if (languageSet == "zh-cn") {
          this.languageBtn = "应用";
          this.genderTt = "性别";
          this.languages[0].tt = "男";
          this.languages[1].tt = "女";
        } else {
          this.languageBtn = "Apply";
          this.genderTt = "Gender";
          this.languages[0].tt = "male";
          this.languages[1].tt = "female";
        }
        let genderSet = localStorage.getItem("genderSet");
        if (genderSet && genderSet == this.languages[0].tt) {
          this.languages[0].state = false;
          this.languages[1].state = true;
        } else {
          this.languages[1].state = false;
          this.languages[0].state = true;
        }
      },
      changeLanguage: function(index) {
        if (this.languages[index].state == false) {
          this.languages[index].state = true;
          setSate(this.languages, index, false);
        } else {
          this.languages[index].state = false;
          setSate(this.languages, index, true);
        }
        function setSate(obj, index, state) {
          if (index == 0) {
            obj[1].state = state;
          } else {
            obj[0].state = state;
          }
        }
      },
      jumpSetting: function() {
        let sexState = "";
        if (this.languages[1].state == false) {
          sexState = this.languages[1].tt;
        } else {
          sexState = this.languages[0].tt;
        }
        localStorage.setItem("sexState", sexState);
        this.$router.push({
          path: "/setting"
        }); // 跳转到语言设置页面
      },
      destroyed: function() {}
    }
  };
</script>

<style scoped>
  .gender {
    position: relative;
    overflow: hidden;
    width: 100%;
    height: 100%;
    color: #f4f4f4;
    font-weight: lighter;
  }
  .gender-main {
    float: left;
    width: 100%;
    height: auto;
    overflow: auto;
    border-top: 0.1rem solid rgba(255, 255, 255, 0.5);
    color: #000;
  }
  .gender-ul {
    float: left;
    width: 100%;
    height: 2.2rem;
    background: #fff;
  }
  .gender-li {
    float: left;
    width: 100%;
    height: 1.1rem;
    box-sizing: border-box;
    border: 0.01rem solid #ccc;
    line-height: 1.1rem;
    padding: 0 0.3rem;
  }
  .gender-li-tt {
    float: left;
    text-align: left;
  }
  .gender-li-icon {
    float: right;
    text-align: right;
  }
  .gender-icon-active {
    display: none;
  }
  .gender-li-icon .iconfont {
    color: #d2ac2b;
  }
  .gender-btn {
    float: left;
    margin: 0.5rem 0.24rem;
    width: 7.02rem;
    height: 0.84rem;
    background: #d2ac2b;
    border-radius: 8px;
    border: 0;
    color: #fff;
    font-size: 0.36rem;
  }
</style>

