<template>
  <div class="language">
     <div class="iphoneX-main" id="iphoneX-main-language">
         <div class="header-tt">
            <ul class="header-ul">
              <li class="header-li-left">
                <router-link to="/setting">
                  <i class="iconfont icon-back1"></i>
                </router-link>
              </li>
              <li class="header-li-middle">
                {{languageTt}}
              </li>
            </ul>
          </div>
          <div class="language-main">
            <ul class="language-ul">
              <li class="language-li" v-for="(language,index) in languages" :key="index" @click="changeLanguage(index)">
                <span class="lang-li-tt">{{language.tt}}</span>
                <span class="lang-li-icon" v-bind:class="{'lang-icon-active': language.state}"><i class="iconfont icon-default"></i></span>
              </li>
            </ul>
            <button class="language-btn" @click="jumpSetting">{{languageBtn}}</button>
          </div>
     </div>
  </div>
</template>

<script>
  export default {
    name: "language",
    data() {
      return {
        languageTt: "Language",
        languageBtn: "Apply",
        languages: [{
          tt: "English",
          state: false
        }, {
          tt: "中文",
          state: true
        }]
      };
    },
    mounted: function() {
      this.isIPhoneX("iphoneX-main-language","");   // iphoneX适配问题
      this.languageLoad();
    },
    methods: {
      languageLoad: function() {
        let languageSet = localStorage.getItem("languageSet");
        if (!languageSet) {
          languageSet = "en";
        }
        if (languageSet == "zh-cn") {
          this.languages[0].state = true;
          this.languages[1].state = false; // 中文状态选中
          this.languageBtn = "应用";
          this.languageTt = "语言";
        } else {
          this.languages[1].state = true;
          this.languages[0].state = false; // 英文状态选中
          this.languageBtn = "Apply";
          this.languageTt = "Language";
        }
      },
      changeLanguage: function(index) {
        if (this.languages[index].state == false) {
          this.languages[index].state = true;
          setSate(this.languages, index, false);
        } else {
          this.languages[index].state = false;
          setSate(this.languages, index, true);
        }
        if ((this.languageBtn == "应用")) {
          this.languageBtn = "Apply";
          this.languageTt = "Language";
        } else {
          this.languageBtn = "应用";
          this.languageTt = "语言";
        }
        function setSate(obj, index, state) {
          if (index == 0) {
            obj[1].state = state;
          } else {
            obj[0].state = state;
          }
        }
      },
      jumpSetting: function() {
        let languageSetting = "zh-cn";
        if (this.languages[0].state == false) {
          languageSetting = "en";
        }
        localStorage.setItem("languageSet", languageSetting);
        this.$router.push({ path: "/setting"}); // 跳转到语言设置页面
      },
      destroyed: function() {}
    }
  };
</script>

<style scoped>
  .language {
    position: relative;
    overflow: hidden;
    width: 100%;
    height: 100%;
    color: #f4f4f4;
    font-weight: lighter;
  }
  .language-main {
    float: left;
    width: 100%;
    height: auto;
    overflow: auto;
    border-top: 0.1rem solid rgba(255, 255, 255, 0.5);
    color: #000;
  }
  .language-ul {
    float: left;
    width: 100%;
    height: 2.2rem;
    background: #fff;
  }
  .language-li {
    float: left;
    width: 100%;
    height: 1.1rem;
    box-sizing: border-box;
    border: 0.01rem solid #ccc;
    line-height: 1.1rem;
    padding: 0 0.3rem;
  }
  .lang-li-tt {
    float: left;
    text-align: left;
  }
  .lang-li-icon {
    float: right;
    text-align: right;
  }
  .lang-icon-active {
    display: none;
  }
  .lang-li-icon .iconfont {
    color: #d2ac2b;
  }
  .language-btn {
    float: left;
    margin: 0.5rem 0.24rem;
    width: 7.02rem;
    height: 0.84rem;
    background: #d2ac2b;
    border-radius: 8px;
    border: 0;
    color: #fff;
    font-size: 0.36rem;
  }
</style>

