<template>
<div class="setting">
  <div class="iphoneX-main" id="iphoneX-main-set">
    <div class="header-tt">
      <ul class="header-ul">
        <li class="header-li-left">
          <div @click.stop="saveAndGoBack">
            <i class="iconfont icon-back1"></i>
          </div>
        </li>
        <li class="header-li-middle">
          {{pageStatusText.pageTitle}}
        </li>
      </ul>
    </div>
    <div class="setting-main">
      <div class="setting-test">
        <div class="setting-top">
          <!-- 姓氏 -->
          <div class="set-top-li">
            <div class="top-li-tt">{{pageStatusText.firstName}}</div>
            <div class="top-li-text">
              <input type="text" class="top-li-input" v-model="userinfo.first_name" :placeholder="pageStatusText.fn_plac"  />
            </div>
          </div>
          <!-- 姓名 -->
          <div class="set-top-li">
            <div class="top-li-tt">{{pageStatusText.lastName}}</div>
            <div class="top-li-text">
              <input type="text" class="top-li-input" v-model="userinfo.last_name" :placeholder="pageStatusText.ln_palc" />
            </div>
          </div>
          <!-- 昵称 -->
          <div class="set-top-li">
            <div class="top-li-tt">{{pageStatusText.nickName}}</div>
            <div class="top-li-text">
              <input type="text" class="top-li-input" v-model="userinfo.nick_name" :placeholder="pageStatusText.nn_plac" />
            </div>
          </div>
          <!-- 性别 -->
          <div class="set-top-li">
            <div class="top-li-tt">{{pageStatusText.gender}}</div>
            <div class="top-li-text" @click.stop="goSetGender">{{userinfo.gender}}</div>
            <div class="text-icon" @click.stop="goSetGender"><i class="iconfont icon-next"></i></div>
          </div>
          <!-- 出生日期 -->
          <div class="set-top-li">
            <div class="top-li-tt">{{pageStatusText.birthDate}}</div>
            <div class="top-li-text" @click.stop="openDateSelect">{{userinfo.date_of_birth}}</div>
            <div class="text-icon" @click="openDateSelect"><i class="iconfont icon-next"></i></div>
          </div>
          <!-- 地址管理 -->
          <div class="set-top-li">
            <div class="top-li-tt">{{pageStatusText.addressManage}}</div>
            <div class="top-li-text" @click.stop="goSetAddress"></div>
            <div class="text-icon" @click.stop="goSetAddress"><i class="iconfont icon-next"></i></div>
          </div>
        </div>
        <div class="setting-top setting-top-set">
          <!-- 手机号 -->
          <div class="set-top-li">
            <div class="top-li-tt top-li-phone">{{pageStatusText.phoneNumber}}</div>
            <div class="top-li-text top-li-phone-text"> {{userinfo.userPhoneNum}}</div>
          </div>
          <!-- 修改密码 -->
          <div class="set-top-li">
            <div class="top-li-tt">{{pageStatusText.changePwd}}</div>
            <div class="top-li-text" @click.stop="goSetPWD"></div>
            <div class="text-icon" @click.stop="goSetPWD"><i class="iconfont icon-next"></i></div>
          </div>
        </div>
        <div class="setting-top setting-top-set">
          <!-- 语言 -->
          <div class="set-top-li">
            <div class="top-li-tt">{{pageStatusText.language}}</div>
            <div class="top-li-text" @click.stop="goSetLanguage"></div>
            <div class="text-icon" @click.stop="goSetLanguage"><i class="iconfont icon-next"></i></div>
          </div>
          <!-- 关于 -->
          <div class="set-top-li">
            <div class="top-li-tt">{{pageStatusText.about}}</div>
            <div class="top-li-text" @click.stop="goAbout">
            </div>
            <div class="text-icon" @click.stop="goAbout"><i class="iconfont icon-next"></i></div>
          </div>
        </div>
      </div>
    </div>
    <!-- 退出登录 -->
    <button @click.stop="signOut" class="setting-signOut">{{pageStatusText.loginOut}}</button>  
    <van-popup v-model="dateControl.pop_show" position="bottom" :overlay="true" style="height:260px">
      <van-datetime-picker v-model="dateControl.date" type="date" 
      :min-date="dateControl.min_date" 
      :max-date="dateControl.max_data"
      :confirm-button-text="dateControl.buttonSure"
      :cancel-button-text="dateControl.buttonCancel"
       @confirm="setDate" @cancel="colseSelectDate" />
    </van-popup>
  </div>
</div>  
</template>

<script>
  export default {
    name: "setting",
    data() {
      return {
        pageStatusText: {
          pageTitle: "Setting",
          firstName: "First Name",
          fn_plac: "Can not be modified for the time being",
          lastName: "Last Name",
          ln_palc: "Can not be modified for the time being",
          nickName: "Nickname",
          nn_plac: "plase input Nickname",
          gender: "Gender",
          birthDate: "Date of birth",
          addressManage: "Adress List",
          phoneNumber: "Mobile Number",
          changePwd: "Change Password",
          language: "Language",
          about: "About",
          loginOut: "Sign Out",
          languageS: "",  // 语言设定
          buttonSure:"",
          buttonCancel:""
        },
        ch_StatusText: {
          pageTitle: "设置",
          firstName: "姓氏：",
          fn_plac: "请输入姓氏",
          lastName: "名字：",
          ln_palc: "请输入名字",
          nickName: "昵称：",
          nn_plac: "请输入昵称",
          gender: "性别：",
          birthDate: "出生日期：",
          addressManage: "地址管理",
          phoneNumber: "手机号：",
          changePwd: "修改密码",
          language: "语言",
          about: "关于",
          loginOut: "退出登录",
          buttonSure:"确认",
          buttonCancel:"取消"
        },
        en_StatusText: {
          pageTitle: "Setting",
          firstName: "First Name:",
          fn_plac: "plase input first Name",
          lastName: "Last Name:",
          ln_palc: "plase input last Name",
          nickName: "Nickname:",
          nn_plac: "plase input nickname",
          gender: "Gender:",
          birthDate: "Date of birth:",
          addressManage: "Adress List",
          phoneNumber: "Mobile Number:",
          changePwd: "Change Password",
          language: "Language",
          about: "About",
          loginOut: "Sign Out",
          buttonSure:"Confirm",
          buttonCancel:"Cancel"
        },
        userinfo: {
          first_name: "",
          last_name: "",
          nick_name: "",
          date_of_birth: "",
          gender: "",
          userPhoneNum: "",
          uuid: "",
          door_password_length: 0,
          id: null
        },
        dateControl: {
          pop_show: false,
          pop_position: "bottom",
          pop_overlay: true,
          date: new Date(),
          min_date: new Date("1900-01-01"),
          max_data: new Date(),
          buttonSure:"确认",
          buttonCancel:"取消"
        }
      };
    },
    mounted: function() {
      this.isIPhoneX("iphoneX-main-set","");   // iphoneX适配问题
      this.settingTitleLoad();  // 获取页面上中英文切换数据
      this.getUserInfo();  // 首次加载页面
    },
    methods: {
      // 中英文信息切换
      settingTitleLoad: function() {
        let that = this;
        let languageSet = localStorage.getItem("languageSet");
        if (!languageSet) {
          return;
        }
        this.languageS = languageSet;  // 赋值语言值
        if (languageSet == "en") {// 英文状态
          that.pageStatusText = JSON.parse(JSON.stringify(that.en_StatusText));  
          this.dateControl.buttonSure = "Confirm";
          this.dateControl.buttonCancel = "Cancel";
        }
        if (languageSet == "zh-cn") { // 中文状态
          that.pageStatusText = JSON.parse(JSON.stringify(that.ch_StatusText));
          this.dateControl.buttonSure = "确认";
          this.dateControl.buttonCancel = "取消";
        }
        localStorage.setItem("adressManageBack", "");
      },
      // 获取接口里面的用户信息
      getUserInfo: function() {
        let that = this;
        let url = "/api/junctioncore/v1/customer/get_profile/?";
        that.axios
          .get(
            that.$root.domainName +
            url +
            that.$root.junAppQuery +
            that.$root.junAppName
          )
          .then(
            function(sucss) {
              if (sucss.data.ret == "200") {
                let dataCustomer = sucss.data.data.customer;  // 用户信息
                let fName = dataCustomer.first_name;  // 姓
                let lName = dataCustomer.last_name; // 名
                let nName = dataCustomer.nickname;   // 昵称
                let brithDay = dataCustomer.date_of_birth; // 生日
                if(fName == "default" && lName == "default" && nName == "default"){
                  fName = "";
                  lName = ""; // 名
                  nName = "";   // 昵称
                  brithDay = ""; // 生日
                }
                that.userinfo = {
                  first_name: fName,
                  last_name: lName,
                  nick_name:nName,
                  gender: dataCustomer.gender,
                  date_of_birth: brithDay,
                  userPhoneNum: dataCustomer.phone,
                  uuid: dataCustomer.uuid,
                  door_password_length: dataCustomer.door_password_length,
                  id: dataCustomer.id
                };
                let sexState = localStorage.getItem("sexState");  // 性别设置
                if (sexState) {
                  that.userinfo.gender = sexState; // 设定
                } else {
                  if (that.languageS == "zh-cn") {
                    if (that.userinfo.gender == "female") {
                      that.userinfo.gender = "女";
                    } else {
                      that.userinfo.gender = "男";
                    }
                  }
                }
              }
            },
            function(err) {
              console.log("用户不存在sucss", err);
            }
          );
      },
      // 打开出生日期的弹框
      openDateSelect: function() {
        // 打开出生日期的选择时间
        let that = this;
        that.dateControl.pop_show = true;
      },
      // 设定出生日期
      setDate: function() {
        // 选择出生日期
        let that = this;
        let date = that.dateControl.date;
        let year = date.getFullYear().toString();
        let month = (date.getMonth() + 1).toString();
        let day = date.getDate().toString();
        that.userinfo.date_of_birth = year + "-" + month + "-" + day;
        that.colseSelectDate();
      },
      // 关闭选择出生日期的弹框
      colseSelectDate: function() {
        // 选择出生日期
        let that = this;
        that.dateControl.pop_show = false;
      },
      // 返回首页
      saveAndGoBack:function(){
        this.$router.push({path: "/index"});
      },
      // 存储页面
      saveAndGoBackData: function() {
        // 离开页面存储当前数据
        let that = this;
        let url = "/api/junctioncore/v1/customer/change_profile/?";
        let genderS = that.userinfo.gender;
        if (genderS == "男") {
          genderS = "male";
        } else if (genderS == "女") {
          genderS = "female";
        }
        let postData = {
          nickname: that.userinfo.nickname,
          first_name: that.userinfo.first_name,
          last_name: that.userinfo.last_name,
          gender: genderS,
          date_of_birth: that.userinfo.date_of_birth
        };
        that.axios
          .post(
            that.$root.domainName +
            url +
            that.$root.junAppQuery +
            that.$root.junAppName,
            postData
          )
          .then(
            function(sucss) {
              if (sucss.data.ret == "200") {
                console.log("document.cookieSetting", document.cookie);
              }
            },
            function(err) {
              console.log("保存失败,请重试", err);
            }
          );
      },
      // 跳转到性别设置
      goSetGender: function() {
        let that = this;
        let genderSet = this.userinfo.gender;
        localStorage.setItem("genderSet", genderSet);
        that.$router.push({
          path: "/gender"
        });
      },
      // 跳转到地址管理
      goSetAddress: function() {
        let that = this;
        localStorage.setItem("adressManageBack", "setting"); // 设定地址返回的页面
        that.$router.push({
          path: "/adressManage"
        });
      },
       // 跳转到找回密码
      goSetPWD: function() {
        let that = this;
        localStorage.setItem("findPwBack", "setting"); // 设定找回密码返回地址
        that.$router.push({
          path: "/findPW"
        });
      },
       // 跳转到语言设置
      goSetLanguage: function() {
        this.$router.push({path: "/language"});
      },
      // 跳转到关于页面
      goAbout: function() {
        let that = this;
        that.$router.push({
          path: "/about"
        });
      },
      // 退出登录
      signOut() {
        let that = this;
        that.axios
          .get(
            "" +
            that.$root.domainName +
            "/api/junctioncore/v1/customer/logout/?" +
            that.$root.junAppQuery +
            that.$root.junAppName +
            ""
          )
          .then(
            function(sucss) {
              if (sucss.data.ret == "200") {
                console.log("退出成功！");
                that.creatNewTempUser();
              }
            },
            function(err) {
              console.log("err", err);
            }
          );
      },
      // 创建临时用户
      creatNewTempUser: function() {
        let _this = this;
        _this.axios
          .post(
            "" +
            _this.$root.domainName +
            "/api/junctioncore/v1/customer/create_temp_customer/?" +
            _this.$root.junAppQuery +
            _this.$root.junAppName +
            "", {}
          )
          .then(function(sucss) {
            console.log("临时用户创建成功！");
            console.log("document.cookieSetting", document.cookie);
            localStorage.setItem("userLogin", "false"); // 用户未经登录
            _this.$router.push({
              name: "index"
            });
          });
      }
    },
    destroyed: function() {
      this.saveAndGoBackData();  // 存储数据
      localStorage.setItem("sexState", ""); // 清除性别设置
    }
  };
</script>

<style src="../css/setting.scss" lang="scss" scoped>

</style>